<% if stage %>
	<% task = Task.find(stage[1])
		 direction = task_direction(task)
	%>

	<%= link_to link_stage do %>
	<div class='stage-quest mbl'>
		<div class='status-stage-quest node'>
			<% if status_stage %>
				<img src='/images/done-quest.png' />
			<% elsif %>
				<img src='/images/node.png' />
			<% end %>
		</div>
		<div class='card card-stage-quest fr'>
			<div class='mbadge direction-mbadge col'>
				<img src='/images/cute-faces_02-26-2014.jpg' />
			</div>
			<div class='direction-content col'>
				<div>
					<span class='tag tag--heading'><%= stage.size/3 %> задания</span>
				</div>
				<h2 class='h--thin mbm'><%= direction %></h2>
				<p>Включим голову и подумаем!</p>
			</div>
			<div class='clear'></div>
		</div>
		<div class='clear'></div>
	</div>
	<% end %>

<% end %>