<%
	quest_id = current_user.track.current_quest
	if current_quest.age == 6
		pic1 = Task.find(Quest.find(quest_id).age6[0]).pic1
	elsif current_user.age == 7
		pic1 = Task.find(Quest.find(quest_id).age7[0]).pic1
%>

<%= link_to link_trip, class: "snap-sound" do %>
<div class='trip-quest mbl'>
	<div class='status-trip-quest node'>
		<% if status_quest %>
			<img src='/images/done-quest.png' />
		<% elsif %>
			<img src='/images/node.png' />
		<% end %>
	</div>
	<div class='card card-trip-quest fr'>
		<div class='mbadge direction-mbadge col'>
			<img src='<%= pic1 %>' />
		</div>
		<div class='direction-content col'>
			<div>
				<span class='tag tag--heading'>Для <%= current_user.age %> лет</span>
			</div>
			<h2 class='h--thin tcm mbm'>5 заданий</h2>
			<p>Включим голову и подумаем!</p>
		</div>
		<div class='clear'></div>
	</div>
	<div class='clear'></div>
</div>
<% end %>