<div class='attraction-min parents-attraction tac'>
	<h1 class='center-title'>Установление фона на квест</h1>
</div>
<div class='row first-page-elm'>
	<div class='cell'>
		<div class='col col-press-25'>
			<%= render "/partials/profile_big" %>
		</div>
		<div class='col col-4of6 fr'>
			<%= react_component("BackgroundQuest") %>
		</div>
	</div>
</div>

