
<div class='row first-page-elm--no-attarction'>
	<div class='cell'>
		<%= react_component("LogicTasks",
    	tasks_url: get_stage4_quests_path, score: current_user.score, quest: true, stage: 4 ) %>
	</div>
</div>
