
<div class='row first-page-elm--no-attarction'>
	<div class='cell'>
    <%= render '/partials/react_component_logic_tasks',  link: get_trip_quests_path, quest: true, complete_quest: current_user.track.complete_quest, moderation: false, test: false %>
	</div>
</div>
