<div class='attraction-min about-attraction tac'>
	<h1 class='center-title'>О сайте</h1>
</div>
<div class='row first-last-page-elm'>
	<div class='cell img-range'>
		<div class='col col-2of6'>
			<img class='card' src='/images/video2_market.gif' />
			<div class='text'>
				<h4>Мы возьмем на себя часть обязаностей</h4>
				сываваыыв аы вдла ыдвла лдыва ьдлыв атдлыва тдлыватлд
			</div>
		</div>
		<div class='col col-2of6'>
			<img class='card' src='/images/47_djamila03_bycarolinabuzio.gif' />
			<div class='text'>
				<h4>Следите за ростом ребенка</h4>

			</div>
		</div>
		<div class='col col-2of6'>
			<img class='card' src='/images/ymh_800.gif' />
			<div class='text'>
				<h4>У вас появится свободное время</h4>
				
			</div>
		</div>
	</div>
</div>