<div class='row'>
	<div class='cell'>
		<div class='card document-list'>
			<h2 class='tac'>
				Пользовательское соглашение
			</h2>
			<div>
				</br>
				Используя сервис, представляющий собой сайт, доступный в сети Интернет под уникальным доменным именем monstriki.com (далее – Сайт) пользователь сети Интернет безоговорочно соглашается с настоящим пользовательским соглашением (далее – Соглашение), регламентирующим правила использования Сайта. Сайт предназначен для самостоятельной организации пользователями Сайта процесса дополнительного образования несовершеннолетних лиц. Соглашение определяет порядок предоставления услуг, а также взаимные права, обязанности и порядок взаимоотношений между ИП Никитиной Еленой Сергеевной (ОГРНИП 313265103100421, ИНН 261003885678) и потребителем услуг – дееспособным совершеннолетним физическим лицом или представителем юридического лица, именуемым в дальнейшем «Пользователь», принявшим Соглашение.</br></br>
				<h3>1. Общие положения</h3>
				1.1. Соглашение является документом в понимании статьи 435 Гражданского кодекса РФ.</br>

				1.2. Действующая редакция Соглашения всегда доступна в сети Интернет по адресу: <%= link_to "http://monstriki.com/agreement", agreement_path %>.</br>

				1.3. Акцепт Соглашения означает безоговорочное принятие Пользователем всех его положений и приложений, при этом Пользователь понимает сущность и содержание положений Соглашения, в том числе возлагаемые на него, в соответствии с Соглашением, обязательства.</br>

				1.4. В случае несогласия с Соглашением, Пользователь обязуется незамедлительно прекратить использование Сайта на всех устройствах, во всех интернет-браузерах.</br>

				1.5. Исполнитель имеет право в одностороннем порядке изменить положения Соглашения путем опубликования Соглашения в новой редакции на странице Сайта. Продолжая использовать Сайт после опубликования новой редакции Соглашения, Пользователь соглашается с изменениями, внесенными в Соглашение, при этом Пользователь обязуется самостоятельно знакомиться с новыми редакциями Соглашения.</br>

				1.6. Исполнитель не участвует непосредственно в образовательном процессе несовершеннолетних лиц в процессе использования Пользователем Сайта, не привлекает для целей образовательные учреждения и организации, преподавателей, не руководствуется стандартами и методиками, разработанными государственными органами.</br>

				1.7. Ответственность за использование Сайта несовершеннолетним лицом несет Пользователь – законный представитель несовершеннолетнего лица. Пользователь должен самостоятельно контролировать использование (согласно инструкции по эксплуатации) компьютерного устройства, необходимого для доступа к Сайту, время, характер, метод использования Сайта, контролировать все действия несовершеннолетнего лица на Сайте и действовать в интересах несовершеннолетнего для обеспечения его физического, морального, психического благополучия, вовремя завершать занятия во избежание переутомления, а также предпринимать любые другие, необходимые, но не описанные в данном Соглашении действия, чтобы использование Сайта было исключительно во благо несовершеннолетнего.</br>

				1.8. Пользователь понимает и безоговорочно соглашается с тем, что пользуется услугами в рамках Соглашения исключительно на свой страх и риск и что услуги предоставляются Пользователю на условиях «как есть» и «как доступно», а именно Исполнитель не заявляет и не гарантирует, что</br>

				- услуги будут соответствовать требованиям Пользователя;</br>

				- услуги будут предоставляться непрерывно, своевременно, безопасно и без ошибок;</br>

				- любая информация, полученная Пользователем в результате использования услуг, будет точной и надежной;</br>

				- дефекты в работе или функциональных возможностях какого-либо программного обеспечения в составе Сайта, будут исправлены в ожидаемый Пользователем срок;</br>

				1.9. Связь с Исполнителем по вопросам функционирования Сайта, а также по любым иным вопросам, связанным с исполнением сторонами обязательств по Соглашению, осуществляется адресу электронной почты monstriki.labs@yandex.ru.</br></br>

				<h3>2. Термины и определения</h3>
				2.1. Контент — совокупность текстовых, графических, аудио- и видеоматериалов (в том числе аудиовизуальные произведения), принадлежащих Исполнителю и/или используемых им на законном основании, необходимых для полноценного функционирования Сайта.</br>

				2.2. Задание – единица Контента, обладающая развивающей ценностью, смоделированная в виде информационного либо тестового блока, содержащая в себе мультимедийные (графика, текст, видео) элементы, предполагающая совершение определенных действий Пользователем/Посетителем Сайта.</br>

				2.3. Упражнение/Тренировка – совокупность Заданий, сгруппированных по тому или иному принципу.</br>

				2.4. Статистика – информационный сервис Сайта, отражающий статистическую информацию по определенным параметрам выполнения Заданий, Упражнений, Тренировок Посетителем или Пользователем Сайта.</br>

				2.5. Посетитель – незарегистрированное или неавторизованное на Сайте лицо, использующее Сайт в ограниченном режиме. В отношении Посетителей Исполнитель не несет никаких юридических обязательств.</br>

				2.6. Пользователь – совершеннолетнее лицо, прошедшее процедуру регистрации на Сайте, получившее учетную запись (далее – Аккаунт) на Сайте. Регистрация Пользователя осуществляется путем указания им в специальной форме на Сайте своего адреса электронной почты и псевдонима.</br>

				2.7. Безлимитный Аккаунт – учетная запись, предоставляемая Пользователям, оплатившим полный доступ к Сайту на определенный срок.</br>

				2.8. Сервисы Сайта – определенный набор функций Сайта, обеспечиваемых его программным обеспечением. Сервисы, доступные для Пользователей, Посетителей и Пользователей с Безлимитным Аккаунтом различаются. Максимальное число Сервисов доступно Пользователям с Безлимитным Аккаунтом.</br></br>

				<h3>3. Предмет соглашения</h3>
				3.1. Пользователь поручает, а Исполнитель принимает на себя обязательство по оказанию информационных услуг, заключающихся в доступе к Контенту, в соответствии с тарифными планами, расположенными на Сайте по адресу: http://monstriki.com/payment/ (далее – Услуги).</br>

				3.2. Пользователь обязуется своевременно принимать Услуги и оплачивать их в соответствии с тарифными планами.</br>

				3.3. Исполнитель вправе привлекать третьих лиц для исполнения своих обязательств по Соглашению, оставаясь ответственным за их действия перед Пользователем.</br></br>

				<h3>4. Условия использования сайта</h3>
				4.1. Посетители Сайта и Пользователи, не авторизованные на Сайте, не обладают возможностью полноценно использовать Сайт.</br>

				4.2. Для перехода Посетителя в статус Пользователя и расширения доступа к Сервисам, Посетитель должен создать Аккаунт (зарегистрироваться). Для создания Аккаунта Пользователь обязуется ввести достоверный адрес своей электронной почты и осуществить выбор пароля доступа к Сайту.</br>

				4.3. Исполнитель не осуществляет сбор, систематизацию и хранение персональных данных Пользователей. Подробнее об обработке данных Пользователей указано в документе «<%= link_to "Политика обработки данных", confidential_path %>», являющемся неотъемлемой частью Соглашения.</br>

				4.4. Все данные, представленные Пользователем в рамках Соглашения, не проверяются на достоверность. Настоящим Пользователь подтверждает и дает согласие, что отдельные его данные могут быть доступны третьим лицам (публичный доступ).</br>

				4.5. В случае возникновения технических проблем на оборудовании Пользователя при использовании Сайта, он обязуется сообщить о них Исполнителю по адресу электронной почты monstriki.labs@yandex.ru. Сообщение должно содержать подробное описание проблемы, снимки экрана монитора Пользователя, отображающие проблему, данные об операционной системе, оборудовании и версиях программного обеспечения (том числе вид и версия интернет-браузера), с помощью которых Пользователь получает доступ к Сайту. Исполнитель в течение 10 рабочих дней рассматривает сообщение Пользователя, и направляет ему по электронной почте рекомендации по устранению проблемы. В случае если Пользователь не выполняет указанные рекомендации, Исполнитель ответственности за корректное функционирование Сайта ответственности не несет.</br>

				4.6. В некоторых случаях, решение технической проблемы может занимать более 10 рабочих дней. В таких случаях Исполнитель направляет Заказчику в десятидневный срок соответствующее уведомление и приостанавливает срок предоставления Услуг на срок устранения проблемы. После устранения проблемы, срок предоставления Услуг пролонгируется на срок, который был необходим для устранения такой проблемы, при этом Исполнитель не осуществляет возврат денежных средств Заказчику за оплаченный период оказания Услуг.</br>

				4.7. Оставляя комментарии на Сайте, Пользователь обязуется избегать нецензурной брани, оскорблений в адрес других лиц, размещения рекламной информации, размещения информации, противоречащей закону. Исполнитель вправе удалять комментарии Пользователей без какого-либо предварительного уведомления.</br></br>

				<h3>5. Оплата услуг</h3>
				5.1. После выбора тарифного плана Пользователь осуществляет оплату услуг Исполнителя посредством электронной платежной системы «Яндекс. Деньги». Оплата осуществляется Пользователем в пользу ООО НКО «Яндекс.Деньги», с которым Исполнитель имеет действующее соглашение. Совершая оплату на Сайте, Пользователь соглашается, в том числе с условиями оказания услуг ООО НКО «Яндекс.Деньги», размещенными в сети интернет по адресу money.yandex.ru</br>
				5.2. Исполнитель никогда не запрашивает и не хранит у себя данные банковских карт/счетов и прочую финансовую информацию у Пользователей. </br>
				5.3. Вновь зарегистрированный пользователь получает 3-дневный период действия Безлимитного Аккаунта, во время действия которого Пользователь имеет доступ к полному функционалу сайта. </br>
				5.4. Исполнитель оставляет за собой право предоставления скидок на приобретение Безлимитного Аккаунта Пользователям в рамках проведения маркетинговых мероприятий без изменения стоимости Безлимитного Аккаунта для всех остальных Пользователей и без отображения этой уменьшенной стоимости на странице оплаты. </br>
				5.5. Исполнитель оставляет за собой право изменения стоимости услуг по своему усмотрению в любое время, без объяснения причин, при этом все уже оплаченные Пользователями доступы к Сайту сохраняются за Пользователем без изменений. Стоимость услуг Исполнителя изменяется в соответствии с пунктом 1.5. Соглашения. </br>
				5.7. В случае повторной оплаты Безлимитного доступа до окончания уже оплаченного срока, действие Безлимитного доступа пролонгируется путем прибавления оплаченного ранее срока и срока, на который Пользователь осуществляет новую оплату.</br></br>

				<h3>6. Аннулирование регистрации и возврат денежных средств</h3>
				6.1. Для удаления информации о Пользователе, его Аккаунта, Пользователю необходимо обратиться с соответствующим запросом к Исполнителю по электронной почте: monstriki.labs@yandex.ru.</br>

				6.2. В случае технических проблем с Сайтом по вине Исполнителя длительностью более 48 часов возможна пролонгация Аккаунта Пользователя на то время, которое Пользователь не мог получить доступ к Сайту. Такая пролонгация осуществляется по письменной заявке Пользователя через электронную почту: monstriki.labs@yandex.ru. Заявка в обязательном порядке должна содержать электронную почту, логин Пользователя, а также начальную и конечную даты оплаченного периода доступа к Контенту. </br>

				6.3. При неиспользовании Пользователем услуг во время оплаченного периода, возврат денежных средств не осуществляется, в связи с абонентским характером оказания услуг по Соглашению.</br></br>

				<h3>7. Аккаунт пользователя и сохранность доступа в личный кабинет</h3>
				7.1. Доступ к Контенту и Сервисам Сайта осуществляется после авторизации Пользователя на Сайте (путем ввода логина и пароля Пользователя, указанных при создании Аккаунта).</br>

				7.2. Для соблюдения безопасности Исполнитель рекомендует совершать выход из Аккаунта, нажав кнопку «выйти» после завершения занятий с несовершеннолетним лицом на Сайте.</br>

				7.3. О несанкционированном доступе к Сайту с помощью логина и пароля Пользователя, ему надлежит незамедлительно сообщить Исполнителю по электронной почте, указанной на Сайте.</br>

				7.4. Пользователь несет полную ответственность за безопасность своего пароля, сохранность своих данных, и передачу логина и пароля третьим лицам. Исполнитель никогда не просит Пользователей сообщать пароль от Аккаунта, ФИО, номер банковской карты, лицевого счета и другие персональные данные.</br></br>

				<h3>8. Использование электронной подписи</h3>
				8.1. Любые действия Пользователя с использованием логина и пароля к Аккаунту или указанного на Сайте личного адреса электронной почты Пользователя (ключ электронной подписи) подтверждает факт формирования простой электронной подписи непосредственно Пользователем.</br>

				8.2. Электронные документы, подписанные простой электронной подписью, признаются равнозначными документам на бумажных носителях, подписанным собственноручной подписью.</br>

				8.3. Пользователь обязуется соблюдать конфиденциальность своей электронной подписи (не передавать свои логин и пароль или предоставлять доступ к своей электронной почте третьим лицам), и несет полную ответственность за ее сохранность и индивидуальное использование, самостоятельно выбирая способ их хранения и ограничения к ним доступа.</br>

				8.4. В случае несанкционированного доступа к логину и паролю Аккаунта и/или своей электронной почты, их утраты или раскрытия третьим лицам Пользователь обязан незамедлительно сообщить об этом Исполнителю путем направления электронного письма с указанного в своем Аккаунте адреса электронной почты.</br></br>

				<h3>9. Интеллектуальная собственность</h3>
				9.1. Все объекты на Сайте, в том числе элементы дизайна, текст, графические изображения, иллюстрации, видео, программы для ЭВМ, базы данных, музыка, звуки и другие объекты являются объектами исключительных прав, принадлежащие Исполнителю. На Сайте используются графические изображения, размещенные на сайте <noindex><a href='https://dribbble.com' rel="nofollow">https://dribbble.com</a></noindex> и находящиеся в свободном доступе.</br>

				9.2. Никакие объекты интеллектуальной собственности, а также любой Контент, не могут быть использованы без предварительного письменного разрешения правообладателя. Под использованием подразумеваются все действия Пользователя, перечисленные в части 2 статьи 1070 ГК РФ, независимо от того, совершаются ли соответствующие действия в целях извлечения прибыли или без такой цели.</br>

				9.3. Пользователю предоставляется личное неисключительное и непередаваемое право использовать программное обеспечение Сайта, при условии, что ни сам Пользователь, ни любые иные лица при содействии с его стороны не будут копировать или изменять программное обеспечение; создавать программы, производные от программного обеспечения; проникать в программное обеспечение с целью получения кодов программ; осуществлять продажу, уступку, сдачу в аренду, передачу третьим лицам в любой иной форме прав в отношении программного обеспечения, предоставленных Пользователю по Соглашению, а также модифицировать службы, в том числе с целью получения несанкционированного доступа к ним.</br>

				9.4. В случае обнаружения на Сайте нарушения прав на объекты интеллектуальной собственности, соответствующий правообладатель в досудебном порядке обязуется направить Исполнителю по электронной почте по адресу monstriki.labs@yandex.ru соответствующее заявление. В случае если заявление подается уполномоченным лицом, к заявлению прикладывается копия документа (в письменной или электронной форме), подтверждающего его полномочия.</br>

				9.5. При наличии у Исполнителя доказательств, подтверждающих правомерность размещения на Сайте информации, содержащей объект авторских и (или) смежных прав, Исполнитель вправе не принимать меры по удалению такой информации по заявлению пользователя, и направляет заявителю соответствующее уведомление с приложением указанных доказательств.</br></br>

				<h3>10. Ограничение ответственности</h3>
				10.1. Пользователь понимает и соглашается с тем, что все Сервисы Сайта предоставляются «как есть» и что Исполнитель не несет ответственности ни за какие задержки, сбои, неверную или несвоевременную доставку, удаление или несохранность какой-либо пользовательской персональной и иной информации.</br>

				10.2. Пользователь соглашается с тем, что Сайт соответствует требованиям Пользователя на момент принятия Соглашения и будет соответствовать им впоследствии, результаты, которые могут быть получены с использованием Сайта, будут точными и надежными и могут использоваться для каких-либо целей или в каком-либо качестве (например, для установления и/или подтверждения каких-либо фактов).</br>

				10.3. Службы Сайта могут содержать ссылки на другие ресурсы сети Интернет. Настоящим Пользователь соглашается с тем, что Исполнитель не несет никакой ответственности за доступность этих ресурсов и за информацию, размещенную на них, а также за любые последствия, связанные с использованием этих ресурсов.</br>

				10.4. Ни при каких обстоятельствах Исполнитель или его представители не несут ответственность перед Пользователем или перед любыми третьими лицами за любой косвенный, случайный, неумышленный ущерб, включая упущенную выгоду или потерянные данные, вред чести, достоинству или деловой репутации, вызванный в связи с использованием Сайта, содержимого Сайта или иных материалов, к которым Пользователь или иные лица получили доступ с помощью Сайта, даже если Исполнитель предупреждал или указывал на возможность такого вреда.</br>

				10.5. Организовывая с помощью Сайта образовательный процесс в отношении несовершеннолетнего лица (лиц), Пользователь соглашается, что Исполнитель не несет ответственность за ожидаемый Пользователем результат такого процесса.</br>

				10.6. Пользователь или Посетитель несет полную ответственность за все свои действия и действия несовершеннолетних на Сайте и за последствия этих действий, включая, но не ограничиваясь последствиями для своей жизни и здоровья, а также жизни и здоровья несовершеннолетних.</br>

				10.7. Пользователь или Посетитель несет ответственность за физическое и психологическое состояние несовершеннолетнего, который занимается с помощью Сайта.</br>

				10.8. Весь Контент на Сайте предназначен для детей любого возраста, Исполнитель отслеживает качество иллюстративных, текстовых и аудиоматериалов, публикующихся на Сайте, но не несет ответственность за использование этих материалов законными представителями ребенка, равно как и за последствия для развития ребенка, оказываемые поведением, характером использования Контента и Сервисов Сайта, комментариями Пользователей или Посетителей относительно Контента и Сервисов Сайта.</br>

				10.9. Исполнитель не несет ответственности за уровень подготовки несовершеннолетних лиц к школе и усвоение ими материалов при использовании Сайта.</br>

				10.10. Исполнитель не несет ответственности за ошибки содержания или верного ответа, допущенные в упражнениях Сайта. Пользователь, обнаруживший ошибку в упражнении, может сообщить о ней, воспользовавшись ссылкой "В задании ошибка? Сообщите".</br>

				10.11. В любом случае ответственность Исполнитель в соответствии со статьей 15 Гражданского кодекса Российской Федерации ограничена 10 000 (Десятью тысячами) рублей РФ и возлагается на него при наличии в его действиях вины.

				10.12. Все разногласия или споры, которые могут возникнуть между сторонами Соглашения должны разрешаться в досудебном порядке путем переговоров, направления претензионных писем. Срок ответа на претензию – 10 (десять) рабочих дней. Претензии Пользователя/Партнера по Соглашению принимаются и рассматриваются Исполнителем только в письменном виде.</br>

				10.13. Если согласие по каким-либо причинам не будет достигнуто в ходе досудебного урегулирования, спор, вытекающий из Оферты, подлежит рассмотрению в Арбитражном суде города Москвы.</br>

				10.14. К отношениям сторон по Соглашению применяется право Российской Федерации. Акцепт Соглашения иностранным Пользователем и/или Партнером означает, что текст Оферты ее уполномоченному лицу понятен и в переводе он не нуждается. В случае необходимости в переводе иностранные контрагенты обязуются осуществить такой перевод на нужный язык своими силами и за свой счет.</br></br>

				<b>Неотъемлемыми частями Соглашения являются:</b></br>
				1) <%= link_to "Политика использования данных", confidential_path %>.</br>
				2) <%= link_to "Политика использования файлов Cookies", cookies_path %>.</br></br>

			</div>
		</div>
	</div>
</div>