<div class='row'>
	<div class='cell'>
		<div class='card document-list'>
			<h2 class='tac'>
				Политика использования данных 
			</h2>
			<div>
				</br>
				«Политика использования данных» является документом, определяющим порядок обработки, систематизации и раскрытия информации, предоставленной Пользователями Сайта Исполнителю, в том числе персональной информации Пользователей, а также сведений о реализуемых требованиях к защите персональной информации. </br></br>
				<h3>1. Общие положения.</h3>
				1.1. Регистрируясь на Сайте, Пользователь дает свое согласие на обработку его персональной информации.</br>
				1.2. Под персональной информацией понимается загруженная Пользователем при прохождении процедуры регистрации на Сайте личная информация, которая включает в себя: </br>
				- адрес электронной почты Пользователя; </br>
				- имя или псевдоним Пользователя; </br>
				- имя или псевдоним несовершеннолетнего лица, в интересах которого Пользователь использует Сайт; </br>
				- возраст несовершеннолетнего лица, в интересах которого Пользователь использует Сайт; </br>
				- иная информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу, переданная Пользователем при использовании Сайта. Исполнитель вправе запрашивать у Пользователя только ту информацию, которая необходима для целей, указанных в Разделе 2 настоящей Политики. </br>
				1.3. Любая персональная информация, загружаемая Пользователем на Сайте, воспринимается Исполнителем «как есть» и не подлежит предварительной проверке на предмет достоверности. Бремя ответственности за достоверность предоставленной на Сайте информации несет лично Пользователь. </br>
				1.4. Информация на Сайте размещается на русском языке. Допускается использование букв латинского алфавита в псевдонимах. </br>
				1.5. Информация, раскрываемая на Сайте, должна быть круглосуточно доступна Пользователям для ознакомления без взимания платы и иных ограничений. </br>
				1.6. Исполнитель вправе изменить (скорректировать) раскрытую или предоставленную Пользователем ранее информацию, если у него есть основания полагать, что информация такая недостоверна. </br>
				1.7. При раскрытии или предоставлении информации Исполнителем соблюдаются требования обеспечения конфиденциальности, установленные статье 7 Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных», и меры по обеспечению безопасности персональных данных при их обработке, установленные статьей 19 Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных». </br>
				1.8. Исполнитель вправе также осуществлять автоматизированную обработку следующей информации Пользователя: 
				- используемый Пользователем «User Agent» (программа для доступа к Сайту); </br>
				- названия установленных Пользователем расширений браузера; </br>
				- статус поддержки различных интерфейсов программирования приложений, и/или интерфейсов прикладного программирования (в частности, относящихся к языку гипертекстовой разметки HTML 5); </br>
				- запросы Пользователя (дата запроса, IP адрес Пользователя, запрашиваемые URL Сайта).</br> 
				1.9. Размещая на Сайте свое изображение, Пользователь тем самым дает свое согласие на обнародование такого изображения, а также на то, что такое изображение будет доступно для просмотра пользователями сети Интернет. Размещая на Сайте изображение, отличное от своего, Пользователь гарантирует, что имеет право на такое размещение. Исполнитель не несет ответственности за размещаемые Пользователем изображения. В случае возникновения у третьих лиц претензий относительно использования размещенного Пользователем на Сайте изображения Пользователь обязуется урегулировать такие претензии самостоятельно и за свой счет. </br></br>
				<h3>2. Цель обработки данных</h3>
				2.1. Обработка персональной информации основана на принципах законности и справедливости; обработки только такой информации, которая отвечает целям ее обработки; соответствия содержания и объема обрабатываемой информации заявленным целям обработки.</br> 
				2.2. Обработка персональной информации осуществляется с целью исполнения обязательств Исполнителем по Соглашению, т.е. обеспечения полноценного функционирования Сайта, соответствия Сайта заявленным в преамбуле Соглашения целям. </br>
				2.3. Обработка информации об электронной почте</br>
				Пользователя осуществляется в целях: </br>
				2.3.1. создания Аккаунта, авторизации Пользователя на Сайте;</br> 
				2.3.2. восстановления и смены пароля доступа к Аккаунту Пользователя; </br>
				2.3.3. направления Пользователю информации, в частности, уведомлений об изменениях в работе Сервисов Сайта, уведомлений об обновлении Сервисов Сайта, информации о скидках и акциях, об отчетах по использованию Сайта, о выполняемых Заданиях и/или Упражнениях. </br>
				2.4. Информация об электронной почте Посетителей (неавторизованных пользователей сети Интернет) Сайта обрабатывается в целях предоставления им следующих Сервисов Сайта: </br>
				2.4.1. Покупки Посетителем Безлимитного Аккаунта (учетной записи, предоставляемой пользователям Сайта, с полным доступом к функционалу Сайта на определенный срок) </br>
				2.4.2. обращения в службу технической поддержки Сайта, обратной связи с Исполнителем. </br>
				2.5. Информация об имени (псевдониме) Пользователя и несовершеннолетнего лица, в интересах которого Пользователь использует Сайт, обрабатывается в целях идентификации Пользователя на Сайте, персонализации предоставления Сервисов Сайта. </br>
				2.6. Обрабатываемые персональная информация не должна быть избыточной по отношению к заявленным целям ее обработки. </br></br>
				<h3>3. Передача и удаление данных </h3>
				3.1. Пользователь соглашается с тем, что при заполнении им регистрационной формы на Сайте, добавлении информации в своей учетной записи (Аккаунте), а также в ином месте в процессе использования Сервисов Сайта, такая информация попадает в публичный доступ, и Пользователь не возражает против такой публикации. </br>
				3.2. Исполнитель не осуществляет сбор, хранение и обработку данных банковских карт Пользователя. Исполнитель убежден, что сервисом «Яндекс. Деньги» (ООО НКО «Яндекс.Деньги»), посредством которого производится оплата услуг Исполнителя Пользователем, обеспечивается надежная защита персональной информации. С политикой использования данных ООО НКО «Яндекс.Деньги» Пользователь обязуется самостоятельно ознакомиться на сайте money.yandex.ru.</br>
				3.3. Исполнитель производит передачу персональной информации Пользователя в случаях, прямо предусмотренных законодательством РФ и международными соглашениями. </br>
				3.4. Предоставление персональной информации Пользователей по запросу государственных органов (органов местного самоуправления) осуществляется в порядке, предусмотренном законодательством РФ. </br>
				3.5. Информация, размещенная на Сайте Пользователем, хранится в течение всего срока использования Сайта, а при удалении учетной записи Пользователя, в течение срока, определяемого Исполнителем, но не более 30 (Тридцати) дней с момента удаления соответствующей учетной записи. По заявлению Пользователя, направленного Исполнителю, персональная информация о Пользователе подлежит удалению в течение 30 (Тридцати) дней с момента получения такого заявления Исполнителем. </br></br>
				<h3>4. Обеспечение безопасности обработки данных </h3>
				4.1. Исполнитель принимает технические и организационно-правовые меры в целях обеспечения защиты персональной информации Пользователя от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий. </br>
				4.2. В целях обеспечения безопасности персональной информации Исполнителем проводятся следующие мероприятия: </br>
				- определяются угрозы безопасности персональной информации при ее обработке на Сайте; </br>
				- применяются организационные и технические меры по обеспечению безопасности персональной информации при их обработке на Сайте; </br>
				- применяются средства защиты информации, прошедшие в установленном порядке процедуру оценки соответствия; </br>
				- проводится оценка эффективности принимаемых мер по обеспечению безопасности персональной информации;</br> 
				- принимаются процедуры, направленные на выявление фактов несанкционированного доступа к персональной информации; </br>
				- производится восстановление персональной информации, модифицированной или уничтоженной вследствие несанкционированного доступа к ней; </br>
				- устанавливаются правила доступа к
				персональной информации, обрабатываемой на Сайте, а также обеспечивается регистрация и учет всех действий, совершаемых с персональной информацией на Сайте; </br>
				- осуществляется постоянный контроль над принимаемыми мерами по обеспечению безопасности персональной информации. </br>
				4.3. Исполнитель не несет ответственности за действия третьих лиц, получивших доступ к персональной информации Пользователя в результате несанкционированного доступа к Сайту. </br></br>
				<h3>5. Заключительные положения</h3>
				5.1. Настоящий документ является общедоступным, его действующая редакция всегда расположена на Сайте по ссылке <%= link_to "http://monstriki.com/confidential", confidential_path %>.</br>
				5.2. Контроль исполнения требований настоящего документа осуществляется Исполнителем – ответственным лицом за обеспечение безопасности персональной информации. </br>
				5.3. Все разногласия и споры, возникающие в связи с использованием персональной информации Пользователя, разрешаются в порядке, предусмотренном п. 10.11 Пользовательского Соглашения. </br>
				5.4. «Политика использования данных» является неотъемлемой частью <%= link_to "Соглашения", agreement_path %>, опубликованного на Сайте.</br>
			</div>
		</div>
	</div>
</div>