<div class='attraction-min contacts-attraction tac'>
	<h1 class='center-title'>Наши контакты</h1>
</div>
<div class='row first-page-elm'>
	<div class='cell'>
		<h1 class='tac our-contacts-mail tcw'>monstriki.labs@yandex.ru</h1>
	</div>
</div>
<div class='row last-page-elm not-first-page-elm'>
	<div class='cell range3 our-contacts-social tac'>
		<div class='col col-2of6'>
			<img class='card' src='/images/facebook.png' />
		</div>
		<div class='col col-2of6'>
			<img class='card' src='/images/vk.png' />
		</div>
		<div class='col col-2of6'>
			<img class='card' src='/images/odnoklassniki-logo.png' />
		</div>
	</div>
</div>