<div class='row'>
	<div class='cell'>
		<div class='card document-list'>
			<h2 class='tac'>
				Политика использования файлов Cookie
			</h2>
			<div>
				</br>
				«Политика использования файлов cookie» (далее – Приложение) – документ, определяющий порядок использования файлов cookie – фрагменты данных Пользователя, отправленных сервером и хранимых Исполнителем для аутентификации и сохранения настроек Пользователя, сбора статистики о Пользователях. </br></br>

				1. Cookie – файлы, которые Сайт записывает в память устройства Пользователя, при помощи которого он посещает Сайт. Cookie сохраняются в каталоге файлов браузера (прикладного программного обеспечения для просмотра Сайта). При следующем посещении Сайта браузер Пользователя считает содержимое файлов cookie и передаст данные Сайту или элементу, который их записал.</br></br>

				2. Акцептируя пользовательское Соглашение, Пользователь дает свое безоговорочное  согласие Исполнителю на использование файлов cookie. Посещение Пользователем Сайта с помощью браузера, который принимает файлы cookie, также расценивается как выражение согласия Пользователя с тем, что Исполнитель может использовать файлы cookie. Ответственным за получение согласия на использование файлов cookie является Исполнитель.</br></br>

				3. Основной целью использования файлов cookie является устройство Сайта более удобным для Пользователя. Чтобы Пользователь использовал Сайт без задержек, Исполнитель при повторном (и каждом последующем) использовании Пользователем Сайта использует данные браузера Пользователя о результатах проверки подлинности при входе в защищенные разделы Сайта, информацию о посещенных страницах Сайта, выполненных Заданиях, предпочтениях и настройках Пользователя и другую подобную информацию. Исполнитель не осуществляет сбор, хранение, обработку и передачу третьим лицам файлов cookie Пользователя, он лишь использует их в вышеуказанных целях.</br></br>

				4. Файлы сookie могут быть удалены Пользователем в любой момент, используя настройки браузера. У Пользователя также есть возможность отключить cookie, что  может негативно отразиться на некоторых сервисах Сайта и не позволит в полной мере пользоваться всеми возможностями Сайта.</br></br>

				5. На Сайте используются и сеансовые, и постоянные файлы cookie.  Сеансовые файлы cookie запоминают информацию при переходах со страницы на страницу для фильтрации и выполнения поиска. При окончании сеанса посещения Сайта, они удаляются. Постоянные файлы cookie позволяют Сайту идентифицировать Пользователя при следующем посещении Сайта. Они сохраняются, пока не будут удалены или до указанной даты окончания срока их действия. Постоянные файлы cookie, сохраняемые на устройстве Пользователя в результате использования им Сайта, ни в коем случае не будут храниться дольше 3-х лет с момента последнего посещения Пользователем Сайта.</br></br>

				6. Пользователь имеет возможность в любое время отключить использование файлов cookie. В разных браузерах применяются разные способы отключения файлов cookie, но обычно соответствующие параметры находятся в меню «Сервис» или «Настройка». Подробная информация о способах отключения файлов cookie находится в справочной системе используемого Пользователем браузера. Помимо управления файлами cookie, в браузерах обычно предусмотрены средства для контроля над другими подобными файлами, например локальными общими объектами. Одним из таких средств является режим конфиденциальности.</br></br>

				7. Для отключения доступа к файлам cookie в основных, наиболее распространенных браузерах, Пользователю необходимо предпринять следующие шаги:</br>

				7.1. В браузере «Internet Explorer»: Сервис -> Свойства браузера -> Конфиденциальность -> Дополнительно. Для получения дополнительной информации Пользователю необходимо обратиться в службу поддержки компании «Microsoft»  или к справке браузера.</br>

				7.2. В браузере «Firefox»: Инструменты -> Настройки -> Приватность-> История -> ваши настройки. Для получения дополнительной информации Пользователю необходимо обратиться в службу поддержки компании «Mozilla»  или к справке браузера.</br>

				7.3. В браузере «Chrome»: Настройки -> Показать дополнительные настройки -> Личные данные -> Настройки контента. Для получения дополнительной информации Пользователю необходимо обратиться в службу поддержки компании «Google»  или к справке браузера.</br>

				7.4. В браузере «Safari»: Настройки -> Безопасность. Для получения дополнительной информации Пользователю необходимо обратиться в службу поддержки компании «Apple»  или к справке браузера.</br></br>

				8. Отключив файлы cookie, Пользователь может потерять доступ к некоторым страницам Сайта. В случае удаления файлов cookie из своего браузера Пользователь может самостоятельно установить специальные файлы cookie, которые будут блокировать дальнейшую установку файлов cookie.</br></br>

				9. Исполнитель имеет право в одностороннем порядке вносить изменения в Приложение. С Актуальной версией Приложения Пользователь всегда может ознакомиться на Сайте, по ссылке <%= link_to "http://monstriki.com/cookies", cookies_path %>.</br></br>

				10. Приложение является неотъемлемой частью <%= link_to "Пользовательского соглашения", agreement_path %>, опубликованного на Сайте.
			</div>
		</div>
	</div>
</div>