<div class='attraction parents-attraction tac'>
	<h1 class='h--thin'>Мы родители</h1>
	<p class='tcw'>У нас тоже есть дети, и поэтому мы знаем то, что им нужно!</p>
</div>
<div class='row parents-page'>
	<div class='cell940 card mbl'>
		<div class='part1'>
			<div class='col golden_section38'>
				<img src='/images/video2_market.gif' />
			</div>
			<div class='col golden_section62'>
				<div class='text'>
					<h1 class=''>Высокий результат</h1>
					<p>Очень важно, чтобы ребенок не утомлялся, а получал удовольствие от процесса обучения, поэтому мы даем задания порционно. А результаты будут превосходить ожидания!</p>
				</div>
			</div>
			<div class='clear'></div>
		</div>
	</div>
	<div class='cell940 card mbl'>
		<div class='part1'>
			<div class='col golden_section38'>
				<img src='/images/47_djamila03_bycarolinabuzio.gif' />
			</div>
			<div class='col golden_section62'>
				<div class='text'>
					<h1 class=''>Довольный ребенок</h1>
					<p>Вы легко заметите, как ваш ребенок улыбается во время выполнения заданий. Очень красочные и живые иллюстрации будут не только обучать его, но и радовать.</p>
				</div>
			</div>
			<div class='clear'></div>
		</div>
	</div>
	<div class='cell940 card mbl'>
		<div class='part1'>
			<div class='col golden_section38'>
				<img src='/images/ymh_800.gif' />
			</div>
			<div class='col golden_section62'>
				<div class='text'>
					<h1 class=''>Свободное время</h1>
					<p>Теперь не нужно будет искать в Интеренете или на прилавках киосков развивающие книжки с заданиями, потому что всё это будет здесь. А свободное время уделите себе любимым!</p>
				</div>
			</div>
			<div class='clear'></div>
		</div>
	</div>
</div>