<div class='attraction parents-attraction tac'>
	<h1 class='h--thin'>Наши услуги</h1>
	<p class='tcw'>Мы порадуем и удивим вашего ребенка!</p>
</div>
<div class='row parents-page'>
	<div class='cell940 card mbl'>
		<div class='part1'>
			<div class='col golden_section38'>
				<img src='/images/lets_go_yellow.jpg' />
			</div>
			<div class='col golden_section62'>
				<div class='text'>
					<p>
						Зарегистрировавшись на сайте, Вы получаете возможность принимать участие во <b>Всероссийских олимпиадах для дошкольников</b>.</br></br>
						Олимпиада состоит из <b>пробных</b> и <b>контрольных</b> заданий. После прохождения олимпиады Ваш ребенок получает диплом.
					</p>
				</div>
			</div>
			<div class='clear'></div>
		</div>
	</div>
	<div class='cell940 card mbl'>
		<div class='part1'>
			<div class='col golden_section38'>
				<img src='/images/ipadchild-01.png' />
			</div>
			<div class='col golden_section62'>
				<div class='text'>
					<h2>Что такое олимпиада для дошкольников?</h2>
					<p><b>Олимпиада для дошкольников</b> - это сбалансированный комплект, состоящий из тренировочных и контрольных заданий. В каждой олимпиаде по 15-25 заданий. Задания в олимпиаде нацелены на развитие логики, речи, математического мышления, памяти, внимания и представлений об окружающем мире.</p>
				</div>
			</div>
			<div class='clear'></div>
		</div>
	</div>
	<div class='cell940 card mbl'>
		<div class='part1'>
			<div class='col golden_section38'>
				<img src='/images/stranger-toys.jpg' />
			</div>
			<div class='col golden_section62'>
				<div class='text tariff-plan'>
					<h2>Тарифные планы</h2>
					<p>Покупка диплома  <span class='fr'>100 ₽</span></p>
					<p>Покупка карты монстрика  <span class='fr'>290 ₽</span></p>
				</div>
			</div>
			<div class='clear'></div>
		</div>
	</div>
</div>