<div class='cover-shop'>
	<div class='UTP'>
		<h1><span>Развивающий подарок</span></br><span>для Вашего ребенка</span></br><span>к Новому году</span></h1>
		<h4 class='mtm'>Комплект из 3-х поделок для детей со всеми необходимыми материалами для сборки.</h4>
	</div>
</div>
<div class='tac craft-set mtl'>
	<h1>Какие поделки в комплекте?</h1>
	<div class='short-line'></div>
	<p class='mbl mts'>В комплекте 3 поделки. В наборе каждой поделки имеются все необходимые материалы.</p>
	<div>
		<div class='col col-2of6'>
			<img src='http://pica4u.ru/uploads/posts/2011-03/thumbs/1300397679_1-2.jpg' />
			<h4 class='mts'>Название 1</h4>
		</div>
		<div class='col col-2of6'>
			<img src='http://pica4u.ru/uploads/posts/2011-03/thumbs/1300397691_1-12.jpg' />
			<h4 class='mts'>Название 1</h4>
		</div>
		<div class='col col-2of6'>
			<img src='http://pica4u.ru/uploads/posts/2011-03/thumbs/1300397729_1-9.jpg' />
			<h4 class='mts'>Название 1</h4>
		</div>
		<div class='clear'></div>
	</div>
</div>
<style>
	.div-body{
		background-image: none !important;
		background-color: white !important;
	}
	.menu-point{
		display: none;
	}
	.right-part{
		display: none;
	}
	.footer-pre-footer #pre-footer{
    background-size: cover;
    opacity: 1;
	}
	.footer-pre-footer #footer{
		background-color: rgba(0, 168, 196, 1);
	}
</style>