<div class='attraction parents-attraction tac'>
	<h1 class='h--thin'>Вакансии</h1>
	<p class='tcw'>Вам интересен наш проект? Присоединяйтесь!</br>Пишите на почту monstriki.labs@yandex.ru</p>
</div>
<div class='row parents-page'>
	<div class='cell940 card mbl'>
		<div class='part1'>
			<div class='col golden_section38'>
				<img src='/images/hackathon-shot.png' />
			</div>
			<div class='col golden_section62'>
				<div class='text'>
					<h2>Интернет-маркетолог</h2>
					<p>Мы ищем Интернет-маркетолога на долевых условиях.
					</br>
					<b>Опцион:</b> 6-10%</p>
					<p>
						<b>То, что нужно знать Интернет-маркетологу:</b></br>
						1. Поисковое продвижение сайтов. SEO.</br>
						2. Контекстная реклама.</br>
						3. Копирайтинг.</br>
						4. Email-маркетинг.</br>
						5. Web-аналитика.</br>
						6. Основы SMM.</br>
						7. Основы юзабилити и web-дизайна.</br>
					</p>
				</div>
			</div>
			<div class='clear'></div>
		</div>
	</div>
	<div class='cell940 card mbl'>
		<div class='part1'>
			<div class='col golden_section38'>
				<img src='https://d13yacurqjgara.cloudfront.net/users/79571/screenshots/2949793/what_kind_of_programmer_are_you.png' />
			</div>
			<div class='col golden_section62'>
				<div class='text'>
					<h2>Разработчик</h2>
					<p>Мы ищем разработчика на долевых условиях.
					</br>
					<b>Опцион:</b> 6-10%</p>
					<p>
						<b>Требования:</b></br>
						1. Знание Ruby on Rails</br>
						2. Знание Javascript</br>
						3. Умение работать с Gitом</br>
						4. Умение работать с консолью Linux</br>
						5. Желание учиться чему-то новому</br>
					</p>
				</div>
			</div>
			<div class='clear'></div>
		</div>
	</div>
</div>