<div  id='logo'>
	<img src ='/images/logo-img.png' /> <span>Монстрики</span>
</div>
<div id='welcome-slide-1' class='welcome-slides'>
	<div class='content'>
		<div class='text-welcome-slide'>
			<h1>
				Давай поиграем!
			</h1>
			<p>
				В процессе игры обучение проходит интереснее и эффективнее. Играй вместе с нами и становись умнее.
				<!-Тренировки и задания сделаны в форме игры, они развивают воображение, мышление, наблюдательность, память и логику.-->
			</p>
		</div>
		<img class='welcome-slide-img' src='/images/learn-welcome.png'/>	
		<div class='clear'></div>
	</div>
</div>
<div id='welcome-slide-2' class='welcome-slides'>
	<div class='content'>
		<div class='text-welcome-slide'>
			<h1>
				Создай своего монстрика
			</h1>
			<p>
				Выбери своего героя и придумай ему имя. Проходи квесты, получай опыт и прокачивай монстрика.
			</p>
		</div>
		<img class='welcome-slide-img' src='/images/img-slide2.png'/>	
		<div class='clear'></div>
	</div>
</div>
<div id='welcome-slide-3' class='welcome-slides'>
	<div class='content'>
		<div class='text-welcome-slide'>
			<h1>
				Позови своих друзей
			</h1>
			<p>
				Пригласи друзей и играй вместе с ними. Создай свою команду монстриков!
			</p>
		</div>
		<img class='welcome-slide-img' src='/images/img-slide3.png'/>	
		<div class='clear'></div>
	</div>
</div>

<style>
	.hat{
		display: none;
	}
</style>
