/* line 3, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/profile.scss */
.profile-card .character img {
  width: 100%;
  border-radius: 2px;
}
/* line 8, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/profile.scss */
.profile-card .satiety {
  font-weight: 600;
  padding-left: 14px;
}
/* line 12, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/profile.scss */
.profile-card .satiety .name span {
  font-family: "Five Minutes";
  font-size: 24px;
}
/* line 16, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/profile.scss */
.profile-card .satiety .name .banana {
  font-weight: 400;
}
/* line 18, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/profile.scss */
.profile-card .satiety .name .banana img {
  width: 16px;
  position: relative;
  top: 6px;
}
/* line 27, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/profile.scss */
.profile-card .profile-link {
  padding: 0.635em 1.25em !important;
  font-weight: 600;
}
/* line 31, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/profile.scss */
.profile-card .profile-link a:hover {
  text-decoration: none !important;
}

/* line 38, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/profile.scss */
.profile-menu .menu-item {
  border-bottom: 1px solid #e2e8e9;
  margin: 0;
  padding: 0;
}
/* line 42, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/profile.scss */
.profile-menu .menu-item .menu-item-link {
  border: 0;
  color: #393d40;
  display: block;
  padding: 0.625em 1.25em;
  font-weight: 600;
}
/* line 53, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/profile.scss */
.profile-menu .menu-item:last-child {
  border: 0;
}
/* line 56, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/profile.scss */
.profile-menu .menu-item:first-child .menu-item-link {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* line 61, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/profile.scss */
.col-profile {
  min-width: 190px;
}
