/* line 5, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/quests.scss */
.quest-attraction {
  background-image: url(/images/footer_bg2x.png);
  background-size: cover;
  background-color: #f74242;
}

/* line 13, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/quests.scss */
.card-stage-quest {
  width: 92.5%;
  height: 126px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
/* line 21, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/quests.scss */
.card-stage-quest:hover {
  box-shadow: 0 1px 7px rgba(20, 20, 20, 0.2);
}
/* line 25, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/quests.scss */
.card-stage-quest .direction-content h2 {
  margin-bottom: 0 !important;
  margin-top: 7px;
}
/* line 29, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/quests.scss */
.card-stage-quest .direction-content p {
  margin: 0 !important;
  color: #393d40;
}

/* line 35, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/quests.scss */
.status-stage-quest {
  float: left;
  width: 5%;
}
/* line 38, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/quests.scss */
.status-stage-quest img {
  height: 32px;
  position: relative;
  top: 42px;
  width: 32px;
  padding: 4px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 1px rgba(20, 20, 20, 0.3);
}

/* line 49, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/quests.scss */
.stage_tasks {
  max-width: 200px;
  cursor: pointer;
  transition: all 0.3s ease;
}
/* line 53, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/quests.scss */
.stage_tasks img {
  width: 100%;
  border-radius: 2px;
}
/* line 57, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/quests.scss */
.stage_tasks div {
  text-align: center;
  font-size: 14px;
}
/* line 61, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/quests.scss */
.stage_tasks:hover {
  -webkit-transform: rotateZ(6deg);
  -ms-transform: rotateZ(6deg);
  transform: rotateZ(6deg);
}

/* line 67, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/quests.scss */
.stage_tasks--without-animation {
  max-width: 200px;
  cursor: pointer;
  transition: all 0.3s ease;
}
/* line 71, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/quests.scss */
.stage_tasks--without-animation img {
  width: 100%;
  border-radius: 2px;
}
/* line 75, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/quests.scss */
.stage_tasks--without-animation div {
  text-align: center;
  font-size: 14px;
}

/* line 80, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/quests.scss */
.choosed_quest_task {
  box-shadow: 0 0px 7px rgba(0, 0, 0, 0.2) !important;
}

/* line 87, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/quests.scss */
.finish-quest h1 {
  font-size: 60px !important;
}

/* line 91, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/quests.scss */
.complete-quest {
  text-align: center;
  margin-bottom: 24px;
}
/* line 94, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/quests.scss */
.complete-quest a {
  margin-top: 12px;
  margin-left: 12px;
  font-size: 30px;
}
/* line 98, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/quests.scss */
.complete-quest a:hover {
  color: white;
}
/* line 101, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/quests.scss */
.complete-quest a:focus {
  color: white;
}
/* line 104, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/quests.scss */
.complete-quest a:active {
  color: white;
}

/* line 110, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/quests.scss */
.next-quest .img-next-quest {
  width: 100%;
}

/* line 114, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/quests.scss */
.element-quest-task {
  width: 120px;
}

/*.node::before {
  background-color: #fff;
  background-image: url(https://www.codeschool.com/assets/icons/icon-circle-dcf1160a8887dd7d397ff42977b9adaa1cc52caf3edc2de443e0570fee914077.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border-radius: 50%;
  border: 1px solid #e2e8e8;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 32px;
  position: relative;
  top: 42px;
  width: 32px;
  z-index: 2;
}
.node--connected::after {
    background: #e2e8e8;
    bottom: 50%;
    content: "";
    height: calc(100% + 1.25em);
    left: 13px;
    position: absolute;
    width: 6px;
    z-index: 1;
}*/
