@charset "UTF-8";
/* line 2, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
.content-task-type .tasks-pics-general {
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
}
/* line 6, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
.content-task-type .tasks-pics-general img {
  width: 100%;
  background-color: white;
  border-radius: 2px;
}
/* line 12, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
.content-task-type .tasks-pics-1 {
  width: 80%;
  padding: 10px !important;
  padding-bottom: 0px !important;
}
/* line 17, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
.content-task-type .tasks-pics-2, .content-task-type .tasks-pics-4 {
  width: 48%;
  margin: 1% 1%;
  padding: 8px !important;
  padding-bottom: 0px !important;
}
/* line 23, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
.content-task-type .tasks-pics-5 {
  width: 19.2%;
  margin: 0.4% 0.4%;
  padding: 4px !important;
  padding-bottom: 0px !important;
}
/* line 29, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
.content-task-type .tasks-pics-3, .content-task-type .tasks-pics-6, .content-task-type .tasks-pics-9 {
  width: 32%;
  margin: 0.6% 0.6%;
  padding: 6px !important;
  padding-bottom: 0px !important;
}
/* line 35, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
.content-task-type .tasks-pics-7 {
  width: 13.8%;
  margin: 0.2% 0.2%;
  padding: 3px !important;
  padding-bottom: 0px !important;
}
/* line 41, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
.content-task-type .tasks-pics-8 {
  width: 24%;
  margin: 0.45% 0.45%;
  padding: 5px !important;
  padding-bottom: 0px !important;
}

/* line 50, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task1 .choosed_pic {
  background-color: #1cdcb3 !important;
  transform: scale(0.93);
}

/* line 56, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task2 .pressed_button {
  border: 5px solid #fcad26;
}

/* line 61, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task3 .color-white {
  background-color: white;
}
/* line 64, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task3 .color-red {
  background-color: #f06060;
}
/* line 67, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task3 .color-blue {
  background-color: #0e83cd;
}
/* line 70, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task3 .color-green {
  background-color: #2ecc71;
}
/* line 73, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task3 .color-yellow {
  background-color: #fcd04b;
}

/*4 тип задания*/
/* line 79, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task4 .tasks-pics-3, #type_task4 .tasks-pics-4 {
  width: 30%;
  margin: 0.4% 8%;
}
/* line 83, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task4 .tasks-pics-5 {
  width: 24%;
  margin: 0.4% 0.5%;
}
/* line 87, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task4 .tasks-pics-6 {
  width: 19%;
  margin: 0.25% 0.5%;
}
/* line 91, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task4 .tasks-pics-7 {
  width: 15.7%;
  margin: 0.17% 0.35%;
}
/* line 95, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task4 .tasks-pics-8 {
  width: 13.4%;
  margin: 0.17% 0.35%;
}
/* line 99, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task4 img {
  border-radius: 200px;
  position: relative;
  cursor: pointer;
  padding: 0px !important;
}
/* line 105, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task4 .wrap-general-picture {
  text-align: center;
}
/* line 107, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task4 .wrap-general-picture .general-picture {
  width: 48%;
}
/* line 111, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task4 .functional-pictures {
  margin: 30px 0;
  text-align: center;
}
/* line 115, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task4 .choosed_pic {
  border: 3px solid #1cdcb3 !important;
}

/* line 120, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task5 .choosed_pic {
  background-color: #1cdcb3 !important;
  transform: scale(0.93);
}

/* line 128, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task6 .tasks-pics-4 {
  width: 24%;
  margin: 0.25% 0.5%;
}
/* line 132, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task6 .tasks-pics-5 {
  width: 19.2%;
  margin: 0.2% 0.4%;
}
/* line 136, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task6 .tasks-pics-6 {
  width: 16%;
  margin: 0.15% 0.3%;
}
/* line 140, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task6 .tasks-pics-7 {
  width: 13.8%;
  margin: 0.1% 0.2%;
}

/* line 146, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task7 .tasks-pics-1 {
  width: 60%;
  min-width: 300px;
}
/* line 151, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task7 .wrap-answer-input input {
  font-size: 80px;
  font-weight: bold;
  padding-left: 0px;
  padding-top: 0px;
  border: none;
  border-bottom: 1px solid #ff1e4a;
  background-color: transparent;
  padding-left: 0px;
  color: #ff1e4a;
}

/* line 164, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task9 {
  /* здесь находится скорость перевертывания */
  /* скройте обратную сторону во время переворота */
  /* лицевая сторона размещена над обратной */
  /* обратная, изначально скрытая сторона */
}
/* line 165, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task9 .flip-container {
  perspective: 1000;
}
/* line 168, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task9 .flip-container.flip .flipper {
  transform: rotateY(180deg);
}
/* line 172, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task9 .flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* line 179, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task9 .front, #type_task9 .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0px;
  padding: 6px 6px 0 6px;
}
/* line 186, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task9 .front {
  z-index: 2;
}
/* line 190, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task9 .back {
  transform: rotateY(180deg);
}
/* line 194, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task9 .timer {
  margin-left: 30px;
  color: #00a8c4;
  border: 3px solid #00a8c4;
  border-radius: 100px;
  padding: 5px;
  font-size: 20px;
  width: 39px;
  height: 39px;
  text-align: center;
}
/* line 206, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task9 .tasks-pics-general {
  background-color: transparent;
}
/* line 209, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task9 .tasks-pics-1 {
  border-radius: 4px;
  cursor: pointer;
  max-height: 420px;
  padding-top: 0px !important;
}
/* line 215, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task9 .tasks-pics-2, #type_task9 .tasks-pics-4 {
  height: 211.66px;
  padding-top: 0px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/* line 220, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task9 .tasks-pics-2 .front, #type_task9 .tasks-pics-2 .back, #type_task9 .tasks-pics-4 .front, #type_task9 .tasks-pics-4 .back {
  height: 211.66px;
  padding: 8px;
  padding-bottom: 0px;
}
/* line 226, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task9 .tasks-pics-5 {
  height: 89.855px;
  padding-top: 0px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/* line 231, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task9 .tasks-pics-5 .front, #type_task9 .tasks-pics-5 .back {
  height: 89.855px;
  padding: 4px;
  padding-bottom: 0px;
}
/* line 237, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task9 .tasks-pics-3, #type_task9 .tasks-pics-6, #type_task9 .tasks-pics-9 {
  height: 147.75px;
  padding-top: 0px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/* line 242, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task9 .tasks-pics-3 .front, #type_task9 .tasks-pics-3 .back, #type_task9 .tasks-pics-6 .front, #type_task9 .tasks-pics-6 .back, #type_task9 .tasks-pics-9 .front, #type_task9 .tasks-pics-9 .back {
  height: 147.75px;
  padding: 6px;
  padding-bottom: 0px;
}
/* line 248, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task9 .tasks-pics-7 {
  height: 63.15px;
  padding-top: 0px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/* line 253, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task9 .tasks-pics-7 .front, #type_task9 .tasks-pics-7 .back {
  height: 63.15px;
  padding: 3px;
  padding-bottom: 0px;
}
/* line 259, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task9 .tasks-pics-8 {
  height: 104.5px;
  padding-top: 0px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/* line 264, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/task_type.scss */
#type_task9 .tasks-pics-8 .front, #type_task9 .tasks-pics-8 .back {
  height: 104.5px;
  padding: 3px;
  padding-bottom: 0px;
}
