/* line 6, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/tasks.scss */
.tasks-attraction {
  background-image: url(/images/footer_bg2x.png);
  background-size: cover;
  background-color: #f77742;
}

/* line 12, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/tasks.scss */
.direction {
  border-bottom-left-radius: 100px !important;
  border-top-left-radius: 100px !important;
  margin-bottom: 1.25em;
  min-height: 70px;
  overflow: hidden;
  padding-left: 130px;
}

/* line 20, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/tasks.scss */
.direction-mbadge {
  z-index: 2;
}
/* line 23, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/tasks.scss */
.direction-mbadge img {
  border-radius: 50%;
  display: block;
  height: 100%;
  width: 100%;
}

/* line 30, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/tasks.scss */
.direction-content {
  position: relative;
  left: 15px;
  top: 8px;
  padding-right: 1.25em;
  z-index: 3;
}
/* line 36, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/tasks.scss */
.direction-content h2 {
  margin-top: 2px;
}
/* line 39, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/tasks.scss */
.direction-content .tag {
  font-size: 85%;
}

/* line 43, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/tasks.scss */
.get-answer {
  margin-top: 12px;
}

/* line 46, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/tasks.scss */
.next-task {
  background-color: #00a8c4;
  margin-top: 12px;
}

/* line 50, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/tasks.scss */
.img-next-task {
  width: 32px;
}

/* line 53, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/tasks.scss */
.repeat-task {
  background-color: #00a8c4;
  margin-top: 12px;
}

/* line 59, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/tasks.scss */
.create-task input, .create-task select {
  width: 80%;
  margin-bottom: 10px;
}
/* line 63, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/tasks.scss */
.create-task select {
  margin-bottom: 30px;
}
/* line 66, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/tasks.scss */
.create-task .notice-create-task {
  font-style: italic;
}

/* line 70, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/tasks.scss */
.stable-task-height {
  height: 522px;
}

/* line 74, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/tasks.scss */
.wrong-task-result h1 {
  font-family: "Five Minutes";
  font-size: 26px;
  font-weight: 700;
}

/* line 81, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/tasks.scss */
.right-task-result h1 {
  font-family: "Five Minutes";
  font-size: 26px;
  font-weight: 700;
}

/* line 87, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/tasks.scss */
.result-task {
  height: 100%;
  text-align: center;
}
/* line 90, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/tasks.scss */
.result-task img {
  width: 100%;
}

/* line 96, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/tasks.scss */
.task-participate .get-answer-YN {
  margin-right: 8px;
}
/* line 99, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/tasks.scss */
.task-participate .pressed_button {
  background: #fcad26;
  box-shadow: 0 6px #e29512;
}

/* line 104, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/tasks.scss */
.wrap-task-text {
  max-width: 270px;
}
/* line 106, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/tasks.scss */
.wrap-task-text .task-text {
  font-family: "Five Minutes";
  font-weight: 600;
  font-size: 21px;
  color: #078ca2;
}

/* line 113, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/tasks.scss */
.col-task-main {
  min-width: 909px;
}
