/* line 6, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/things.scss */
.all-things .thing {
  margin-right: 2%;
  margin-bottom: 1.25em !important;
  width: 23%;
  min-width: 180px;
}
/* line 11, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/things.scss */
.all-things .thing img {
  width: 100%;
  margin-bottom: 6px;
}
/* line 15, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/things.scss */
.all-things .thing .price {
  color: #d8900e;
}
/* line 18, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/things.scss */
.all-things .thing .buy-thing {
  margin: 6px 0 4px 0;
}
/* line 21, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/things.scss */
.all-things .thing .already-exist-thing {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #6d6d6d;
}
