/* line 7, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/users.scss */
.reg-form {
  width: 100%;
  min-width: 331px;
}
/* line 10, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/users.scss */
.reg-form h2 {
  font-family: 'BoomBoom';
}
/* line 13, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/users.scss */
.reg-form form {
  padding: 25px !important;
  border: 1px solid #E7E7E7;
  border-radius: 3px;
  margin-top: 20px;
}
/* line 18, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/users.scss */
.reg-form form input {
  width: 100%;
  margin: 7px 0;
}

/* line 25, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/users.scss */
.reg-page h1 {
  color: white;
  font-size: 400%;
  margin-bottom: 0 !important;
}
/* line 30, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/users.scss */
.reg-page p {
  color: white;
  font-size: 200%;
  margin-top: 0 !important;
}

/* line 36, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/users.scss */
.user-page-menu {
  background-color: white;
  border: 1px solid #e2e8e9;
  padding: 15px;
}
/* line 40, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/users.scss */
.user-page-menu a {
  font-size: 16px;
  font-weight: 500;
  margin-right: 15px;
}

/* line 46, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/users.scss */
.user-page-profile {
  position: relative;
  top: -200px;
}

/* line 50, /Users/maksim/Desktop/monstriki/app/assets/stylesheets/users.scss */
.users-attraction {
  background-image: url(/images/fb_cover.png);
  background-size: cover;
  background-color: #316e7b;
}
