<div class="modal fade" id="modal_buy_diploma" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Покупка диплома, 100 ₽</h4>
      </div>
      <form method="POST" action="https://money.yandex.ru/eshop.xml">
        <div class="modal-body wrap-payment-inputs">
            <div>Диплом станет доступен для скачивания в течение 12 часов после оплаты.</div>
            <input type="hidden" name="shopId" value="72869">
            <input type="hidden" name="scid" value="70621">
            <input type='hidden' name="customerNumber" size="64" value='<%= current_user.id %>'>
            <input type='hidden' name="sum" size="64" value='100'>
            <input type="hidden" name="paymentType" value=""/>
            
            <p>E-mail:<font color="red">*</font></p>
            <input type='text' name="custEmail" size="43"><br>

            <p>ФИО плательщика:</p>
            <input type='text' name="custName" size="43"><br><br>

            <p class='sum-of-payment'>Сумма: 50 рублей</p><br><br>

            <input class='ym_merchant_receipt' name='ym_merchant_receipt' value='{"customerContact":
"monstriki.labs@yandex.ru","taxSystem": 2,"items": [{"quantity": 1,"price": {"amount": 100.00},"tax": 1,"text": "Услуги по обработке данных"}]}' type="hidden"/>

            <input type="submit" value='Перейти к оплате' class="btn btn-our-blue">
            
        </div>
      </form>
    </div>
  </div>
</div>
