<div class='row first-page-elm'>
	<div class='cell task-documentation'>
		<h1>Докуметация по созданию вопросов</h1>
		<!--<div class='element card'>
			<h3>Конфигурация</h3>
			<h4>Является общим дополнением к типам вопросов</h4>
			<br>
			<div>
				Если поле <b>пусто</b>, то ничего не происходит.<br><br>
				<h4>Если в поле конфигурации написано:</h4>
				<b>Символы</b>, то все поля pic1-pic12 должны содержать только символы, буквы, цифры;<br>
				<b>Символы до pic9</b>, то поля pic1-pic9 должны содержать только символы, буквы, цифры, а поля pic10-pic12 будут отображаться, как изображения;<br>
			</div>
		</div> -->
		<div class='element card'>
			<h4>1 тип</h4>
			<h5>Выбор одного варианта ответа</h5>
			<br>
			<div>
				Максимальное количество картинок 9.<br>
				1, 2, 3, 5, 7 картинок - в один ряд.<br>
				4, 6, 8 картинок - 2 ряда.<br>
				9 - 3 ряда.<br>
			</div>
			<div>
				<b>Ответ</b> записывается в виде номера картинки.
			</div>
			<div>
				<b>Подтип 2.</b> В этом подтипе появляются дополнительные поля. В pic10 пишем обновленный текст вопроса, этот текст появится <i>после</i> нажатия кнопки НАЧАТЬ. (если текст вопроса не обновляется, то ничего не пишем) В pic11 вставляется картинка, которая будет показана <i>до</i> нажатия кнопки начать.
			</div>
		</div>

		<div class='element card'>
			<h4>2 тип</h4>
			<h5>Его пока нет</h5>
		</div>

		<div class='element card'>
			<h4>3 тип</h4>
			<h5>Раскрашивание</h5>
			<br>
			<div>
				Максимальное количество картинок 9.<br>
				1, 2, 3, 5, 7 картинок - в один ряд.<br>
				4, 6, 8 картинок - 2 ряда.<br>
				9 - 3 ряда.<br>
			</div>
			<div>
				<b>Ответ</b> записывается cтрокой из номеров красок.
			</div>
			<div>
				<b>Номера красок:</b> 0 - белый,<br>1 - красный,<br>2 - синий,<br> 3 - зеленый,<br> 4 - желтый
			</div>
			<div>
				<b>Пример:</b> Пусть 1-ая картинка должна быть закрашена в зеленый цвет, 2-ая - в красный, 3-ья - белый, 4-ая - красный, то ответ будет выглядеть так: 3101
			</div>
		</div>

		<div class='element card'>
			<h4>4 тип</h4>
			<h5>Статичная картинка, выбор варианта ответа</h5>
			<br>
			<div>
				Максимальное количество картинок 9.<br>
				Одна картинка статичная, а остальные служат в качестве вариантов ответа.
			</div>
			<div>
				В pic1 помещается ссылка на статичную картинку, остальные поля pic2-pic9 для вариантов ответа
			</div>
			<div>
				<b>Ответ</b> записывается в виде номера картинки. (минимальный ответ для этого задания это 2)
			</div>
		</div>

		<div class='element card'>
			<h4>5 тип</h4>
			<h5>Выбор нескольких вариантов ответа</h5>
			<br>
			<div>
				Максимальное количество картинок 9.<br>
				1, 2, 3, 5, 7 картинок - в один ряд.<br>
				4, 6, 8 картинок - 2 ряда.<br>
				9 - 3 ряда.<br>
			</div>
			<div>
				<b>Ответ</b> записывается в виде номеров картинки.
			</div>
			<div>
				<b>Подтип 2.</b> В этом подтипе появляются дополнительные поля. В pic10 пишем обновленный текст вопроса, этот текст появится <i>после</i> нажатия кнопки НАЧАТЬ. (если текст вопроса не обновляется, то ничего не пишем) В pic11 вставляется картинка, которая будет показана <i>до</i> нажатия кнопки начать.
			</div>
		</div>

		<div class='element card'>
			<h4>6 тип</h4>
			<h5>Одна картинка скрыта, нужно открыть нужную</h5>
			<br>
			<div>
				Максимальное количество картинок 9.<br>
				1-5, 7 картинок - в 1 ряд,<br> 6, 8 картинок - в 2 ряда,<br> 9 - в 3 ряда<br>
				В дополнительных полях, pic10, pic11, pic12, записываются варинаты ответов, которые будет выбирать ребенок
			</div>
			<div>
				<b>Ответ</b> записывается в виде номера дополнительной картинки, для pic10 - это 1, для pic11 - 2, для pic12 - 3.
			</div>
			<div>
				<b>Подтип 2</b> две большие картинки по бокам. В центре маленькая картинка. Хорошо подходит для заданий на сравнение
			</div>
		</div>

		<div class='element card'>
			<h4>7 тип</h4>
			<h5>Ввод ответа с клавиатуры</h5>
			<br>
			<div>
				Максимальное количество картинок 9.<br>
				1, 2, 3, 5, 7 картинок - в один ряд.<br>
				4, 6, 8 картинок - 2 ряда.<br>
				9 - 3 ряда.<br>
			</div>
			<div>
				<b>Ответ</b> записывается в виде строки
			</div>
		</div>

		<div class='element card'>
			<h4>8 тип</h4>
			<h5>Задание статичное, ответ всегда правильный</h5>
			<br>
			<div>
				Максимальное количество картинок 9.<br>
				1, 2, 3, 5, 7 картинок - в один ряд.<br>
				4, 6, 8 картинок - 2 ряда.<br>
				9 - 3 ряда.<br>
			</div>
			<div>
				<b>Ответ</b> здесь всегда правильный.
			</div>
			<div>
				<b>Перед заполнением</b> этого вопроса нужно отчистить поле с ответом!
			</div>
		</div>

		<div class='element card'>
			<h4>9 тип</h4>
			<h5>Запоминание на время, а потом выбор ответа правильного</h5>
			<br>
			<div>
				Максимальное количество картинок 9.<br>
				1, 2, 3, 5, 7 картинок - в один ряд.<br>
				4, 6, 8 картинок - 2 ряда.<br>
				9 - 3 ряда.<br>
			</div>
			<div>
				<b>Ответ</b> записывается в виде номера картинки.
			</div>
			<div>
				В дополнительном поле pic10 указывается текст вопроса, который будет после истечения времени.
				</br>
				В дополнительном поле pic11 можно разместить картинку.
			</div>
		</div>

	</div>
</div>