<div class='attraction-min tasks-attraction tac'>
	<h1 class='center-title'>Тренировки</h1>
</div>
<div class='row first-page-elm'>
	<div class='cell'>
		<div class='col col-press-25'>
			<%= render "/partials/profile" %>
		</div>
		<div class='col col-4of6 fr'>
			<h2 class='h--thin mbm'><span class='prxs'>Что будем тренировать?</span> <span class='tag tag--light tag--heading tag--heading--h2'>2744 заданий</span></h2>

			<%= link_to logic_tasks_path do %>
			<div class='card direction'>
				<div class='mbadge direction-mbadge col'>
					<img src='/images/cute_monster_dribbble_2.jpg' />
				</div>
				<div class='direction-content col'>
					<div>
						<span class='tag tag--heading'>2744 заданий</span>
					</div>
					<h2 class='h--thin mbm'>Логика</h2>
				</div>
			</div>
			<% end %>

			<div class='card direction'>
				<div class='mbadge direction-mbadge col'>
					<img src='/images/background1.jpg' />
				</div>
				<div class='direction-content col'>
					<div>
						<span class='tag tag--heading'>2744 заданий</span>
					</div>
					<h2 class='h--thin mbm'>Воображение</h2>
				</div>
			</div>


			<div class='card direction'>
				<div class='mbadge direction-mbadge col'>
					<img src='/images/img-slide3.png' />
				</div>
				<div class='direction-content col'>
					<div>
						<span class='tag tag--heading'>2744 заданий</span>
					</div>
					<h2 class='h--thin mbm'>Память</h2>
				</div>
			</div>

		</div>
	</div>
</div>

