<div class='attraction-min parents-attraction tac'>
	<h1 class='center-title'>Логика</h1>
</div>
<div class='row first-page-elm'>
	<div class='cell'>
		<%= react_component("LogicTasks",
    	tasks_url: get_memory_tasks_path, score: current_user.score, quest: false ) %>
	</div>
</div>
