<div class='attraction-min parents-attraction tac'>
	<h1 class='center-title'>Логика</h1>
</div>
<div class='row first-page-elm'>
	<div class='cell'>
    <%= render '/partials/react_component_logic_tasks',  link: get_memory_tasks_path, quest: false, complete_quest: false %>
	</div>
</div>
