<div class='row first-page-elm'>
	<div class='cell'>
		<% if current_user.payment_end_date > Time.now %>
			<%= render '/partials/react_component_logic_tasks',  link: get_memory_attention_tasks_path, quest: false, complete_quest: false, moderation: false, test: false %>
		<% else %>
			<%= render "/partials/lets_pay", text: "После продления карты монстрика тренировки станут доступны" %>
		<% end %>
	</div>
</div>
<style>
	.lets-pay{
		width: 70%;
		margin: auto;
	}
</style>
