<div class='row first-page-elm'>
	<div class='cell'>
		<%= render '/partials/react_component_logic_tasks',  link: get_moderation_tasks_path, quest: false, complete_quest: false, moderation: true, test: false %>
	</div>
</div>