<div class='row first-page-elm'>
	<div class='cell'>
		<%= render '/partials/react_component_logic_tasks',  link: get_test_tasks_path, quest: false, complete_quest: false, moderation: false, test: true %>
	</div>
</div>
<style>
	.lets-pay{
		width: 70%;
		margin: auto;
	}
</style>
