<div class='attraction-min parents-attraction tac'>
	<h1 class='center-title'>Бубуки</h1>
</div>
<div class='row first-page-elm'>
	<div class='cell'>
		<%= render "/partials/profile_big" %>
		<div class='col col-67proc ml-2proc'>
			<h2 class='h--thin'>
				<span class='prxs'>Супермаркет</span>
				<% if !logged_in? %>
					<div class='card for-unknown-user-things'><b>Супермаркет</b> - место, где Ваш ребенок может купить себе что-нибудь за игровые монетки, которые он будет получать при прохождении интеллектуальных игр.</div>
				<% end %>
			</h2>
			<div class='explanation-page-after-title mbm'>
				<span>В супермаркете можно купить разные штучки за игровые монетки</span>
			</div>
			<div class='market-categories'>
				<div class='col col-2of6 col-padding category'>
					<%= link_to monstrik_path do %>
						<div class='card'>
							<img src='/images/critter.jpg' />
							<h2 class='name tac'>Монстрики</h2>
						</div>
					<% end %>
				</div>
				<div class='col col-2of6 col-padding category'>
					<%= link_to bubuki_things_path do %>
						<div class='card'>
							<img src='/images/blueburn_prev.jpg' />
							<h2 class='name tac'>Бубуки</h2>
						</div>
					<% end %>
				</div>
				<div class='col col-2of6 col-padding category'>
					<%= link_to stuff_things_path do %>
						<div class='card'>
							<img src='/images/ring.jpg' />
							<h2 class='name tac'>Вещи</h2>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

