<%
		#@things = current_user.user_things.select('thing_id')
  	#a = Array.new
  	#@things.each do |t|
  		#a << t.thing_id
  	#end
  	#@things_data = Thing.where(thing_id: @things.thing_id)
  	#puts "###########################################"
  	#puts a
  	#puts "###########################################"
  	#@things = current_user.user_things.joins(:thing)
  	#@things_data = UserThing.joins(@thing)
  	#@things = current_user.user_things.joins(:thing)
  	#puts "###########################################"
  	#puts @things.first.thing.name
  	#puts "###########################################"

%>
<div class='ground'>
	<%= react_component("Ground",
    	get_things_url: get_things_user_things_path) %>
</div>