<ul>
	<li class='menu-item'>
		<% if expiry_monster_card? %>
			<img src='/images/two-left-arrows.png' class='indicator-monster-card fr pulse' />
		<% end %>
		<%= link_to "Карта монстрика", monster_card_path, class: "list-item-link menu-item-link" %>
	</li>
	<li class='menu-item'>
		<%= link_to "Платежи", payment_path, class: "list-item-link menu-item-link" %>
	</li>
	<li class='menu-item'>
		<%= link_to "Настройки", edit_user_path(current_user), class: "list-item-link menu-item-link" %>
	</li>
</ul>

