<ul>
	<li class='menu-item'>
		<%= link_to "Мой монстрик", monster_name_user_monsters_path, class: "list-item-link menu-item-link" %>
	</li>
	<li class='menu-item'>
		<%= link_to "Настройки", edit_user_path(current_user), class: "list-item-link menu-item-link" %>
	</li>
</ul>

