<div class='lets-pay card'>
	<div class='col col-4of6 content'>
		<h1>
			<div>Продлите свою</div>
			<div>карту монстрика</div>
		</h1>
		<p class='second-text'>
			<span class='text'><%= text %></span>
		</p>
		<div class='actions'>
			<%= link_to 'Продлить карту монстрика', monster_card_path, class: 'btn btn-our-green'%>
		</div>
	</div>
	<div class='clear'></div>
</div>