<div class='col col-profile profile-huge'>
	<div class='card mbm profile-card'>
		<div class='character'>
			<% monster_presence = user.user_monster.monster_id %>
			<% if monster_presence != 0 %>
				<img src='<%= Monster.find(user.user_monster.monster_id).avatar %>' />
			<% else %>
				<div class='choose-monstrik tac'>
					<h1>Нету монстрика</h1>
				</div>
			<% end %>
		</div>
		<div class='satiety twsb'>
			<div class='name tcmc'>
				<span><%= user.user_monster.name %></span>
				<div class='coins tcm'>
					<img src='/images/coin.png' /> <%= user.score %>
				</div>
			</div>
		</div>
		<div class='clear'></div>
	</div>
	<div class='card mbl information-and-statistic-user'>
		<div class='element'>
			<% if @user.track.complete_quest
				quests_amount = @user.track.current_quest
			else 
				quests_amount = @user.track.current_quest - 1
			end %>
			<h5 class='h--thin'><img src='/images/flag.png'/> <span>Квестов пройдено: <b><%= quests_amount %></b></span></h5>
		</div>
		<div class='element status-quest-complete'>
			<h5 class='h--thin'><img src='/images/clock.png'/>
				<% if @user.track.complete_quest %>
					<span class='completed'>Сегодня квест уже <b>пройден!</b></span>
				<% else %>
					<span class='not-completed'>Сегодня квест еще <b>не пройден!</b></span>
				<% end %>
			</h5>
		</div>
	</div>
</div>