<div class='attraction payment-attraction tac'>
	<h1 class='h--thin'>Оплата услуг</h1>
	<p class='tcw'>
		Карта монстрика станет активной в течение 6 часов после оплаты.</br>
		Но обычно это происходит в первые 10 минут!
	</p>
</div>
<div class='row'>
	<div class='cell mts col-payment-methods'>
		<div class='col col-2of6 wrap-payment-method'>
			
		</div>
		<div class='col col-2of6 wrap-payment-method'>
			<div class='card'>
				<div class='payment-method-2'>
					<img src='/images/payment-2.png' />
					<h4>190 рублей</h4>
				</div>
				<h3>На 1 месяца</h3>
				<a class='btn-m btn-m-5 btn-m-5a icon-cart' data-toggle="modal" data-target="#modal_payment2"><span>Купить за 190 ₽</span></a>
			</div>
		</div>
		<div class='col col-2of6 wrap-payment-method'>
			
		</div>
		<div class='clear'></div>
	</div>
	<div class='cell mts col-payment-methods'>
	</div>
</div>

<%= render 'modal_payment1' %>
<%= render 'modal_payment2' %>
<%= render 'modal_payment3' %>

<style>
	body{
		background-image: none;
	}
</style>