<div class='row'>
	<div class='cell mtm'>
		<div class='monster-name-content'>
			<div class='card'>
				<img src='<%= Monster.find(current_user.user_monster.monster_id).avatar %>' />
			</div>
			<%= form_for UserMonster.new, url: give_name_to_monster_user_monsters_path do |f| %>
				<div>
					<%= f.text_field :name, placeholder: 'Имя монстрика', value: current_user.user_monster.name, class: 'tac tcmc' %>
				</div>
				<div>
			  	<%= f.submit "Назвать монстрика", class: "change-name button btn btn-our btn-our-green" %>
			  </div>
			<% end %>
		</div>
	</div>
</div>