.butn{

    /* A semi-transparent text shadow */
    text-shadow:1px 1px 0 rgba(255,255,255,0.2);
    text-align: center;
    /* Overriding the default underline styling of the links */
    text-decoration:none !important;
    white-space:nowrap;

    display:inline-block;
    vertical-align:baseline;
    position:relative;
    cursor:pointer;
    padding: 15px 25px;

    background-repeat:no-repeat;

    /* The following two rules are fallbacks, in case
       the browser does not support multiple backgrounds. */

    background-position:bottom left;
    background-image:url('/images/button_bg.png');

    /* CSS3 background positioning property with multiple values. The background
       images themselves are defined in the individual color classes */

    background-position:bottom left, top right, 0 0, 0 0;
    background-clip:border-box;

    /* Applying a default border radius of 8px */

    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;

    /* A 1px highlight inside of the button */

    -moz-box-shadow:0 0 1px #fff inset;
    -webkit-box-shadow:0 0 1px #fff inset;
    box-shadow:0 0 1px #fff inset;

    /* Animating the background positions with CSS3 */
    /* Currently works only in Safari/Chrome */

    -webkit-transition:background-position 12s !important;
    -moz-transition:background-position 12s !important;
    -o-transition:background-position 12s !important;
    transition:background-position 12s !important;
}

.butn:hover{
    background-position:top left;
    background-position:top left, bottom right, 0 0, 0 0;
}

/* The three buttons sizes */

.butn.big        { font-size:30px;}
.butn.medium    { font-size:18px;}
.butn.small    { font-size:13px;}

/* A more rounded button */

.butn.rounded{
    -moz-border-radius: 4em;
    -webkit-border-radius: 4em;
    border-radius: 4em;
}

.blue.butn{
    color: white !important;

    /*border: 1px solid #84acc3 !important;*/

    /* A fallback background color */
    background-color: #48b5f2;

    /* Specifying a version with gradients according to */

    background-image:    url('/images/button_bg.png'), url('/images/button_bg.png'),
                        -moz-radial-gradient(    center bottom, circle,
                                                rgba(89,208,244,1) 0,rgba(89,208,244,0) 100px),
                        -moz-linear-gradient(#4fbbf7, #3faeeb);

    background-image:    url('/images/button_bg.png'), url('/images/button_bg.png'),
                        -webkit-gradient(    radial, 50% 100%, 0, 50% 100%, 100,
                                            from(rgba(89,208,244,1)), to(rgba(89,208,244,0))),
                        -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4fbbf7), to(#3faeeb));
}

.blue.butn:hover{
    background-color: #63c7fe;
    background-image:    url('/images/button_bg.png'), url('/images/button_bg.png'), -moz-radial-gradient(    center bottom, circle, rgba(109,217,250,1) 0,rgba(109,217,250,0) 100px),-moz-linear-gradient(#63c7fe, #58bef7);
    background-image:    url('/images/button_bg.png'), url('/images/button_bg.png'), -webkit-gradient(    radial, 50% 100%, 0, 50% 100%, 100, from(rgba(109,217,250,1)), to(rgba(109,217,250,0))), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#63c7fe), to(#58bef7));
}
/* Green Button */

.green.butn{
    color: white !important;
    /*color:#345903 !important;*/
    /*border:1px solid #96a37b !important;*/
    background-color: #79be1e;
    
    background-image:url('/images/button_bg.png'), url('/images/button_bg.png'), -moz-radial-gradient(center bottom, circle, rgb(64,199,129) 0,rgba(162,211,30,0) 100px),-moz-linear-gradient(rgb(64,199,129), rgb(64,199,129));
    background-image:url('/images/button_bg.png'), url('/images/button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgb(64,199,129)), to(rgba(162,211,30,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(64,199,129)), to(rgb(64,199,129)));
}

.green.butn:hover{
    background-color: rgb(64,199,129);
    
    background-image:url('/images/button_bg.png'), url('/images/button_bg.png'), -moz-radial-gradient(center bottom, circle, rgb(64,199,129) 0,rgba(183,229,45,0) 100px),-moz-linear-gradient(rgb(64,199,129), rgb(64,199,129));
    background-image:url('/images/button_bg.png'), url('/images/button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgb(64,199,129)), to(rgba(183,229,45,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(64,199,129)), to(rgb(64,199,129)));
}

.red.butn{
    color: white !important;
    /*color:#345903 !important;*/
    /*border:1px solid #96a37b !important;*/
    background-color: rgb(255, 30, 74);
    
    background-image:url('/images/button_bg.png'), url('/images/button_bg.png'), -moz-radial-gradient(center bottom, circle, rgb(255, 30, 74) 0,rgb(255, 30, 74) 100px),-moz-linear-gradient(rgb(255, 30, 74), rgb(255, 30, 74));
    background-image:url('/images/button_bg.png'), url('/images/button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgb(255, 30, 74)), to(rgb(255, 30, 74))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 30, 74)), to(rgb(255, 30, 74)));
}

.red.butn:hover{
    background-color: rgb(255, 30, 74);
    
    background-image:url('/images/button_bg.png'), url('/images/button_bg.png'), -moz-radial-gradient(center bottom, circle, rgb(255, 30, 74) 0,rgb(255, 30, 74) 100px),-moz-linear-gradient(rgb(255, 30, 74), rgb(255, 30, 74));
    background-image:url('/images/button_bg.png'), url('/images/button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgb(255, 30, 74)), to(rgb(255, 30, 74))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 30, 74)), to(rgb(255, 30, 74)));
}

/* Orange Button */

.orange.butn{
    color: white !important;
    /*color:#693e0a !important;*/
    /*border:1px solid #bea280 !important; */   
    background-color: #ff762f;
    
    background-image:url('/images/button_bg.png'), url('/images/button_bg.png'), -moz-radial-gradient(center bottom, circle, #ff762f 0,rgba(232,189,45,0) 100px),-moz-linear-gradient(#ff762f, #ff762f);
    background-image:url('/images/button_bg.png'), url('/images/button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(#ff762f), to(rgba(232,189,45,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff762f), to(#ff762f));
}

.orange.butn:hover{
    background-color: #ff762f;
    
    background-image:url('/images/button_bg.png'), url('/images/button_bg.png'), -moz-radial-gradient(center bottom, circle, #ff762f 0,rgba(241,192,52,0) 100px),-moz-linear-gradient(#ff762f, #ff762f);
    background-image:url('/images/button_bg.png'), url('/images/button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(#ff762f), to(#ff762f)),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff762f), to(#ff762f));
}

.gray.butn{
    color:#525252 !important;
    /*border:1px solid #a5a5a5 !important;  */  
    background-color: #a9adb1;
    
    background-image:url('/images/button_bg.png'), url('/images/button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(197,199,202,1) 0,rgba(197,199,202,0) 100px),-moz-linear-gradient(#c5c7ca, #92989c);
    background-image:url('/images/button_bg.png'), url('/images/button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(197,199,202,1)), to(rgba(197,199,202,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#c5c7ca), to(#92989c));
}

.gray.butn:hover{
    background-color:#b6bbc0;
    
    background-image:url('/images/button_bg.png'), url('/images/button_bg.png'), -moz-radial-gradient(center bottom, circle, rgba(202,205,208,1) 0,rgba(202,205,208,0) 100px),-moz-linear-gradient(#d1d3d6, #9fa5a9);
    background-image:url('/images/button_bg.png'), url('/images/button_bg.png'), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(202,205,208,1)), to(rgba(202,205,208,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#d1d3d6), to(#9fa5a9));
}
