.posts{
	.post{
		padding: 40px;
		img{
			width: 100%;
		}
	}
}
.information-about-project{
	.card{
		padding: 30px;
	}
	.lifetime{
		font-family: 'Gagalin';
		color: #ff1e4a;
	}
	.clients{
		font-family: 'Gagalin';
		color: #1090f5;
	}
	.today{
		h2{
			font-family: 'Gagalin';
		}
		div{
			font-size: 15px;
		}
		.our-income{
			font-size: 16px;
			color: #ff1e4a;
		}
	}
}
.feedback{
	text-align: center;
	h2{
		padding: 8px;
		font-family: 'Gagalin';
		/*color: #ff1e4a;*/
	}
	#vk_comments{
		margin: auto;
	}
}