.profile-card{
	.character{
		img{
			width: 100%;
			border-radius: 2px;
		}
	}
	.satiety{
		font-weight: 600;
		padding-left: 14px;
		.name{
			span{
				font-size: 18px;
    		font-family: 'Junegull';
			}
			.small{
				font-size: 13px;
			}
			.coins{
				font-weight: 400;
				img{
					width: 24px;
				  position: relative;
				  top: 7px;
				  right: 3px;
				}
			}
		}
		
	}
	.profile-link{
		padding: 0.635em 1.25em !important;
		font-weight: 600;
		a{
			&:hover{
				text-decoration: none !important;
			}
		}
	}
}
.profile-menu{
	.menu-item{
		border-bottom: 1px solid #e2e8e9;
    margin: 0;
    padding: 0;
    .menu-item-link{
    	border: 0;
	    color: #393d40;
	    display: block;
	    padding: 0.625em 1.25em;
	    font-weight: 600;
    	&:first-child{

    	}
    }
	}
	.menu-item:last-child {
	  border: 0;
	}
	.menu-item:first-child .menu-item-link{
		border-top-left-radius: 8px;
    border-top-right-radius: 8px;
	}
}
.col-profile{
  min-width: 190px;
}