.profile-card{
	.character{
		img{
			width: 100%;
			border-radius: 2px;
		}
	}
	.satiety{
		font-weight: 600;
		padding-left: 14px;
		.name{
			span{
				font-size: 18px;
    		font-family: 'Junegull';
			}
			.small{
				font-size: 13px;
			}
			.coins{
				font-weight: 400;
				transition: all 0.3s ease;
				z-index: 999;
				img{
					width: 20px;
			    position: relative;
			    top: 5px;
			    right: 3px;
				}
			}
		}
		
	}
	.profile-link{
		padding: 0.635em 1.25em !important;
		font-weight: 600;
		a{
			&:hover{
				text-decoration: none !important;
			}
		}
	}
}
.profile-menu{
	.menu-item{
		border-bottom: 1px solid #e2e8e9;
    margin: 0;
    padding: 0;
    .menu-item-link{
    	border: 0;
	    color: #393d40;
	    display: block;
	    padding: 0.625em 1.25em;
	    font-weight: 500;
	    font-size: 13px;
	    img{
	    	width: 18px;
		    position: relative;
		    bottom: -3px;
	    }
	    .indicator-monster-card{
	     	position: static !important;
   		 	margin-top: 3px !important;
	    }
	    span{
	    	margin-left: 3px;
	    }
    	&:first-child{

    	}
    }
	}
	.menu-item:last-child {
	  border: 0;
	}
	.menu-item:first-child .menu-item-link{
		border-top-left-radius: 8px;
    border-top-right-radius: 8px;
	}
}
.col-profile{
  min-width: 130px;
}
.profile-big{
	.choose-monstrik{
		height: 200px;
		background-color: #e2e8e9;
		padding: 10px;
		padding-top: 50px;
		h2{
			color: #98a1a2;
		}
	}
}
.profile-huge{
	.choose-monstrik{
		height: 280px;
		background-color: #e2e8e9;
		padding: 10px;
		padding-top: 50px;
		h1{
			color: #98a1a2;
		}
	}
}

.indicator-monster-card{
  width: 20px;
  height: 20px;
  /*background-color: #ff1e4a;*/
  position: relative;
  top: 11px;
  right: 10px;
  border-radius: 100px;
}

@media screen and (max-width: 965px) {
	.profile-card .satiety .name span{
		font-size: 13px;
	}
}
