// Place all the styles related to the Static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#logo{
	position: absolute;
	top: 12px;
  left: 14px;
  width: 220px;
  img{
  	width: 48px;
  }
  span{
  	font-family: 'BoomBoom';
  	font-size: 28px;
  	position: relative;
  	bottom: 18px;
  	left: 3px;
  }
}
.welcome-slides{
	height: 660px;
	min-width: 1140px;
	h1{
		font-family: 'BoomBoom';
		font-size: 40px;
	}
}
#welcome-slide-1{
	height: 470px;
	background: url(/images/sky.png) no-repeat #fff8ef;
	background-position-x: 130%;
	background-position-y: -5px;
	.content{
		position: relative;
		top: 160px;
		width: 80%;
		margin: 0 8% 0 12%;
		.welcome-slide-img{
			width: 38%;
			float: left;
		}
		.text-welcome-slide{
			width: 62%;
			padding: 20px 30px 40px 50px;
			float: right;
			h1{
				font-size: 42px !important;
				margin-bottom: 0px;
			}
			p{
				font-size: 20px;
				margin: 0.5em 0 1em 0;
			}
		}
	}
}
#welcome-slide-2{
	background: url(/images/hill.png) top no-repeat #84b341;
	background-size: 100%;
	height: 740px;
	.content{
		position: relative;
		top: 220px;
		width: 80%;
		margin: 0 8% 0 12%;
		.welcome-slide-img{
			padding-top: 20px;
			width: 62%;
			float: right;
			img{
				width: 100%;
			}
		}
		.text-welcome-slide{
			color: white;
			width: 38%;
			padding: 70px 30px 40px 0px;
			float: left;
			text-align: left;
			h1{
				font-size: 46px !important;
				margin-bottom: 0px;
			}
			p{
				font-size: 20px;
				margin: 0.5em 0 1em 0;
			}
		}
	}
}
#welcome-slide-3{
	background: url(/images/hill-welcome-slide-3.png) top no-repeat #fff8ef;
	background-size: 100%;
	.content{
		position: relative;
		top: 230px;
		width: 80%;
		margin: 0 8% 0 12%;
		.welcome-slide-img{
			width: 38%;
			float: left;
			position: relative;
			top: -50px;
		}
		.text-welcome-slide{
			width: 62%;
			padding: 40px 50px;
			float: right;
			h1{
				font-size: 44px !important;
			}
			p{
				font-size: 20px;
			}
		}
	}
}
#welcome-slide-4{
	background: url(/images/hill-welcome-slide-4.png) top no-repeat #fff8ef;
	background-size: 100%;
	.content{
		position: relative;
		top: 230px;
		width: 80%;
		margin: 0 8% 0 12%;
		.welcome-slide-img{
			width: 38%;
			float: left;
		}
		.text-welcome-slide{
			width: 62%;
			padding: 40px 50px;
			float: right;
			p{
				font-size: 22px;
			}
		}
	}
}
.parents-attraction{
	/*background-image: url(/images/photo-1470072175146-6b22ce654ca4.jpeg);*/
	background-size: cover;
	background-color: rgba(255, 255, 255, 0.23);
	height: 280px !important;
	h1{
		padding-top: 25px;
		font-family: 'BoomBoom';
    font-size: 60px;
    margin-bottom: 0px !important;
	}
	p{
		font-size: 24px;
		margin: 0;
	}
}
.about-attraction{
	background-image: url(/images/footer_bg2x.png);
	background-size: cover;
	background-color: #f77742;
}
.contacts-attraction{
	background-image: url(/images/footer_bg2x.png);
	background-size: cover;
	background-color: #10bfaf;
}
.our-contacts-social{
	max-width: 440px !important;
}
.our-contacts-mail{
	font-size: 80px;
	margin-bottom: 10px;
}
.parents-page{
	text-align: left;
	position: relative;
	top: -60px;
	.cell940{
		padding: 40px;
	}
	img{
		width: 100%;
		border-radius: 4px;
	}
	.part1{
		.golden_section62{
			padding: 10px 0px 10px 40px;
			p{
				font-size: 18px;
			}
		}
	}
}
.document-list{
	width: 70%;
	margin: auto;
	margin-top: 4em;
	padding: 40px !important;
}
.tariff-plan{
	p{
		padding: 16px 0;
		border-bottom: 1px solid #dadada;
		text-align: left;
		margin: 0 !important;
		span{
			font-weight: 600;
		}
	}
	p:last-child{
		border-bottom: none !important;
	}
}