// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tasks-attraction{
	background-image: url(/images/footer_bg2x.png);
	background-size: cover;
	background-color: #f77742;
}

.direction{
	border-bottom-left-radius: 100px !important;
  border-top-left-radius: 100px !important;
  margin-bottom: 1.25em;
  min-height: 70px;
  overflow: hidden;
  padding-left: 130px;
}
.direction-mbadge {
  
  z-index: 2;
  img{
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
  }
}
.direction-content{
  position: relative;
  left: 15px;
  top: 8px;
  padding-right: 1.25em;
  z-index: 3;
  h2{
    margin-top: 2px;
  }
  .tag{
    font-size: 85%;
  }
}
.get-answer{
  margin-top: 12px;
}
.next-task{
  background-color: #00a8c4;
  margin-top: 12px;
  margin-left: 12px;
}
.repeat-task{
  background-color: #00a8c4;
  margin-top: 12px;
}

.create-task{
  input, select{
    width: 80%;
    margin-bottom: 10px;
  }
  select{
    margin-bottom: 30px;
  }
  .notice-create-task{
    font-style: italic;
  }
}
.stable-task-height{
  height: 522px;
}
.wrong-task-result{
  h1{
    font-family: "Five Minutes";
    font-size: 70px;
    font-weight: 700;
  }
}
.right-task-result{
  h1{
    font-family: "Five Minutes";
    font-size: 80px;
    font-weight: 700;
  }
}
.result-task{
  height: 100%;
  text-align: center;
  img{
    height: 351px;
    width: 468px !important;
  }

}
.task-participate{
  .get-answer-YN{
    margin-right: 8px;
  }
  .pressed_button{
    background: #fcad26;
    box-shadow: 0 6px #e29512;
  }
}
