.img-in-task-text{
  padding-bottom: 3px !important;
  img{
    width: 100%;
    background-color: white;
    border-radius: 2px;
  }
}
.content-task-type{
  .tasks-pics-general{
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    img{
      width: 100%;
      background-color: white;
      border-radius: 2px;
    }
  }
  .tasks-pics-1{
    width: 100%;
    padding: 10px !important;
    padding-bottom: 0px !important;
  }
  .tasks-pics-2, .tasks-pics-4{
    width: 48%;
    margin: 1% 1%;
    padding: 8px !important;  
    padding-bottom: 0px !important;
  }
  .tasks-pics-5{
    width: 19.2%;
    margin: 0.4% 0.4%;
    padding: 4px !important;
    padding-bottom: 0px !important;
  }
  .tasks-pics-3, .tasks-pics-6, .tasks-pics-9{
    width: 32%;
    margin: 0.6% 0.6%;
    padding: 6px !important;
    padding-bottom: 0px !important;
  }
  .tasks-pics-7{
    width: 13.8%;
    margin: 0.2% 0.2%;
    padding: 3px !important;
    padding-bottom: 0px !important;
  }
  .tasks-pics-8{
    width: 24%;
    margin: 0.45% 0.45%;
    padding: 5px !important;
    padding-bottom: 0px !important;
  }
}

#type_task1{
  .choosed_pic{
    background-color: #1cdcb3 !important;
    transform: scale(0.93);
  }  
}
#type_task2{
  .pressed_button{
    border: 5px solid #fcad26;
  }
}
#type_task3{
  .color-white{
    background-color: white;
  }
  .color-red{
    background-color: #f06060;
  }
  .color-blue{
    background-color: #0e83cd;
  }
  .color-green{
    background-color: #2ecc71;
  }
  .color-yellow{
    background-color: #fcd04b;
  }
}
/*4 тип задания*/
#type_task4{
  .tasks-pics-3{
    width: 30%;
    margin: 0.4% 0.8%;
  }
  .tasks-pics-4{
    width: 23.8%;
    margin: 0.4% 0.6%;
  }
  .tasks-pics-5{
    width: 19%;
    margin: 0.4% 0.5%;
  }
  .tasks-pics-6{
    width: 15.97%;
    margin: 0.25% 0.35%;
  }
  .tasks-pics-7{
    width: 14.2%;
    margin: 0.17% 0.2%;
  }
  .tasks-pics-8{
    width: 24.3%;
    margin: 0.17% 0.35%;
  }
  img{
    width: 100%;
    cursor: pointer;
  }
  .wrap-general-picture{
    text-align: center;
    .general-picture{
      width: 70%;
      padding: 10px;
      background-color: #fff;
      border-radius: 4px;
    }
  }
  .functional-pictures{
    margin: 30px 0;
    text-align: center;
    div{
      transition: all 0.3s ease;
    }
  }
  .choosed_pic{
    background-color: #1cdcb3 !important;
    transform: scale(0.93);
  }
}
#type_task5{
  .choosed_pic{
    background-color: #1cdcb3 !important;
    transform: scale(0.93);
  }  
}
#type_task6{
  .wrap-pic{
  }
  .tasks-pics-4{
    width: 24%;
    margin: 0.25% 0.5%;
  }
  .tasks-pics-5{
    width: 19.2%;
    margin: 0.2% 0.4%;
  }
  .tasks-pics-6{
    width: 16%;
    margin: 0.15% 0.3%;
  }
  .tasks-pics-7{
    width: 13.8%;
    margin: 0.1% 0.2%;
  }
}
#type_task7{
  .tasks-pics-1{
      width: 100%;
      min-width: 300px;
  } 
  .wrap-answer-input{
    input{
      font-size: 80px;
      font-weight: bold;
      padding-left: 0px;
      padding-top: 0px;
      border: none;
      border-bottom: 1px solid #ff1e4a;
      background-color: transparent;
      padding-left: 0px;
      color: #ff1e4a;
      width: 100%;
    }
    input[type="text"]::-webkit-input-placeholder {
      color: #efefef;
    } 
    input[type="text"]::-moz-placeholder {
      color: #efefef;
    }
  }
}
#type_task8{
  .tasks-pics-2{
    width: 48%;
  }
}
#type_task9{
  .flip-container {
    perspective: 1000;
  }
  .flip-container.flip .flipper {
    transform: rotateY(180deg);
  }
  /* здесь находится скорость перевертывания */
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
  }
  /* скройте обратную сторону во время переворота */
  .front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0px;
    padding: 6px 6px 0 6px;
  }
  /* лицевая сторона размещена над обратной */
  .front {
    z-index: 2;
  }
  /* обратная, изначально скрытая сторона */
  .back {
    transform: rotateY(180deg);
  }

  .timer{
    margin-left: 30px;
    color: #00a8c4;
    border: 3px solid #00a8c4;
    border-radius: 100px;
    padding: 5px;
    font-size: 20px;
    width: 39px;
    height: 39px;
    text-align: center;
  }

  .tasks-pics-general{
    background-color: transparent;
  }
  .tasks-pics-1{
    border-radius: 4px;
    cursor: pointer;
    max-height: 420px;
    padding-top: 0px !important;
  }
  .tasks-pics-2, .tasks-pics-4{
    height: 211.66px;
    padding-top: 0px !important;
    margin-left: 0 !important;
    margin-right: 0 !important; 
    .front, .back{
      height: 211.66px;
      padding: 8px;
      padding-bottom: 0px;
    }
  }
  .tasks-pics-5{
    height: 89.855px;
    padding-top: 0px !important;
    margin-left: 0 !important;
    margin-right: 0 !important; 
    .front, .back{
      height: 89.855px;
      padding: 4px;
      padding-bottom: 0px;
    }
  }
  .tasks-pics-3, .tasks-pics-6, .tasks-pics-9{
    height: 147.75px;
    padding-top: 0px !important;
    margin-left: 0 !important;
    margin-right: 0 !important; 
    .front, .back{
      height: 147.75px;
      padding: 6px;
      padding-bottom: 0px;
    }
  }
  .tasks-pics-7{
    height: 63.15px;
    padding-top: 0px !important;
    margin-left: 0 !important;
    margin-right: 0 !important; 
    .front, .back{
      height: 63.15px;
      padding: 3px;
      padding-bottom: 0px;
    }
  }
  .tasks-pics-8{
    height: 104.5px;
    padding-top: 0px !important;
    margin-left: 0 !important;
    margin-right: 0 !important; 
    .front, .back{
      height: 104.5px;
      padding: 3px;
      padding-bottom: 0px;
    }
  }
}


