// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tasks-attraction{
	background-image: url(/images/footer_bg2x.png);
	background-size: cover;
	background-color: #f77742;
}

.direction{
	/*border-bottom-left-radius: 100px !important;
  border-top-left-radius: 100px !important;*/
  margin-bottom: 1.25em;
  min-height: 200px;
  overflow: hidden;
  padding-left: 130px;
}
.direction-logic{
  h1{
    color: #337ab7 !important;
  }
}
.direction-memory{
  h1{
    color: #ea4961 !important;
    font-size: 51px !important;
    margin-top: 26px !important;
  }
}
.direction-speech{
  h1{
    color: #00bb5f !important;
  }
}
.direction-math{
  h1{
    color: #f8875e !important;
  }
}
.direction-world{
  h1{
    color: #ffd800 !important;
  }
}
.direction-mbadge {
  
  z-index: 2;
  img{
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
  }
}
.direction-content{
  position: relative;
  left: 15px;
  top: 8px;
  padding-right: 1.25em;
  z-index: 3;
  h1{
    margin-top: 2px;
    font-family: 'junegull';
    font-size: 66px;
    margin-top: 18px;
  }
  .tag{
    font-size: 125%;
  }
}
.get-answer{
  width: 100%;
}
.get-start{
  width: 100%;
  background: rgb(64,199,129);
  &:hover{
    background: rgb(53, 167, 110);
  }
  &:active{
    background: rgb(33,147,90);
  }
  &:focus{
    background: rgb(33,147,90);
  }
}
.next-task{
  background-color: #00a8c4;
  margin-top: 12px;
}
.img-next-task{
  width: 32px;
}
.action-menu-task{
  color: #d8d8d8;
  position: relative;
  top: 5px !important;
  left: 10px;
}
.repeat-task{
  background-color: #00a8c4;
  margin-top: 12px;
}

.create-task{
  input, select{
    width: 80%;
    margin-bottom: 10px;
  }
  select{
    margin-bottom: 30px;
  }
  .notice-create-task{
    font-style: italic;
  }
}
.stable-task-height{
  height: 522px;
}
.wrong-task-result{
  h1{
    font-family: "Five Minutes";
    font-size: 26px;
    font-weight: 700;
  }
}
.right-task-result{
  h1{
    font-family: "Five Minutes";
    font-size: 26px;
    font-weight: 700;
  }
}
.result-task{
  height: 100%;
  text-align: center;
  img{
    width: 100%;
  }

}
.task-participate{
  .get-answer-YN{
    margin-right: 8px;
  }
  .pressed_button{
    background: #fcad26;
    box-shadow: 0 6px #e29512;
  }
}
.wrap-task-text{
  /*width: 270px;*/
  width: 30%;
  .task-text{
    font-family: 'Cheeseusaceu';
    font-weight: 400;
    font-size: 21px;
    /*color: #078ca2;*/
    color: #ffffff;
  }
}
.col-task-main{
  min-width: 620px;
  min-height: 524px
}

.the-end-of-train{
  padding: 25px 180px !important;
  font-size: 80px !important;
  border-radius: 100px;
}
.the-end-of-train:before{
  top: -86px !important;
}
.task-error{
  float: left;
  height: 38px;
  position: absolute;
  top: 19em;
  width: 220px;
  p{
    color: #ececec;
    cursor: pointer;
    &:hover{
      color: #fff;
    }
  }
  .content-task-error{
    select{
      font-size: 12px;
    }
    button{
      margin-top: 8px;
      border: 1px solid white;
      font-size: 11px;
    }
    h3{
      color: white;
      img{
        width: 25px;
        position: relative;
        top: 5px;
        left: 5px;
      }
    }
  }
}

.content-task-type .tasks-pics-general{
  transition: all 0.3s ease;
}
.wrap-moderation-button{
  position: fixed;
  right: 30px;
  top: 80px;
}
.invite-after-test{
  .content{
    h1{
      font-size: 54px !important;
    }
  }
  .invitation-tomorrow{
    font-size: 20px !important;
    margin: 20px 0;
  }
  .actions{
    font-size: 22px;
  }
}
.for-unknown-user-tasks{
  margin-top: 20px;
  font-size: 15px;
  background-color: rgba(255, 177, 0, 0.39) !important;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) !important;
}

@media screen and (max-width: 1160px) {
  #type_task7{
    .wrap-answer-input{
      input{
        font-size: 60px;
      }
    }
  }
}
