// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reg-attraction{
	
}
.reg-form{
	width: 40%;
	min-width: 331px;
	margin: auto;
	select{
		width: 100%;
		margin-bottom: 7px;
    margin-top: 4px;
	}
	h2{
		font-family: 'BoomBoom';
		font-size: 300%;
	}
	.first-part, .second-part{
		z-index: 100;
		padding: 25px !important;
		border: 1px solid #E7E7E7;
		border-radius: 3px;
		margin-top: 20px;
		input{
			width: 100%;
			margin: 7px 0;
		}
	}
	.continue-reg{
		margin-top: 10px;
	}
	.field_with_errors{
		margin-bottom: 14px;
		.error{
			color: #ff1e4a;
		}
	}
}
.reg-page{
	h1{
		color: white;
		font-size: 400%;
		margin-bottom: 0 !important;
	}
	p{
		color: white;
		font-size: 200%;
		margin-top: 0 !important;
	}
}
.user-page-menu{
	background-color: white;
	border: 1px solid #e2e8e9;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	.the-user-menu{
		padding-left: 14px;
	}
	a{
		font-size: 16px;
		font-weight: 400;
		margin-right: 15px;
	}
}
.user-page-profile{
	position: relative;
	top: -200px;
	.info-user{
		h3{
			span{
				color: #337ab7;
			}
		}
		.quest-number{
			font-size: 16px;
		}
	}
}
.users-attraction{
	/*background: linear-gradient(to top, #1d739e, #3394c5);*/
	background-color: #85d1f1;
	background-image: url(/images/image_for_user_attraction.jpg);
  background-size: 43%;
  background-position: 100% 18%;
  background-repeat: no-repeat;
  height: 170px !important;
  padding-top: 55px !important;
	/*animation: animatedBackground 60s linear infinite;
	-moz-animation: animatedBackground 60s linear infinite;
	-webkit-animation: animatedBackground 60s linear infinite;
 	-o-animation: animatedBackground 60s linear infinite;*/
}
.edit-user-data-form{
	input[type='text'], input[type='password'], select{
		width: 100% !important;
    margin: 7px 0;
	}
	h2{
		font-family: 'BoomBoom';
    font-size: 300%;
	}
	form{
		z-index: 100;
    padding: 25px !important;
    border: 1px solid #E7E7E7;
    border-radius: 3px;
    margin-top: 20px;
	}
}

.wrap-monster-card{
	.monster-card{
		width: 500px;
		.card{
			height: 600px;
			h1{
				font-family: 'BoomBoom';
				color: #357bb7;
			}
			img{
				width: 100%;
			}
			.active-card{
				color: rgb(64,199,129);
			}
			.inactive-card{
				color: #ff1e4a;
			}
			.name-field{
				margin-top: 10px;
			}
			.age-field{
				color: #95989a;
			}
			.payment-field{
				margin-top: 50px;
				.wrap-button-pay{
					font-size: 14px;
					margin-top: 20px;
				}
			}
		}
	}
}

.the-user-info{
	padding-top: 50px;
	.name-the-user-info{
		color: white;
		font-family: "junegull";
		margin-bottom: 0 !important;
		text-shadow: 2px 2px 10px #3c758e;
	}
	.age-the-user-info{
		color: #f0f5f7;
		text-shadow: 1px 1px 3px #3c758e;
	}
}

.cloud{
  opacity: 0.8;
  position: absolute;
  display: none;
}
/*@keyframes cloud-1 {
  from {margin-left: -151px;}
  to {margin-left: 100%;}
}*/
#cloud-1{
    top: -110px;
    left: 15%;
    /*-webkit-animation: cloud-1 76s linear infinite;
    animation: cloud-1 76s linear infinite;*/
}
/*@keyframes cloud-2 {
  from {margin-left: -1502px;}
  to {margin-left: 100%;}
}*/
#cloud-2{
    /*top: 140px;*/
    top: -65px;
    left: 82%;
    /*left: 70%;*/
    /*-webkit-animation: cloud-2 121s linear infinite;
    animation: cloud-2 121s linear infinite;*/
}
/*@keyframes cloud-3 {
  from {margin-left: -600px;}
  to {margin-left: 100%;}
}*/
#cloud-3{
    top: 50px;
    left: 50%;
    /*top: 210px;*/
    /*left: 30%;*/
    /*-webkit-animation: cloud-3 99s linear infinite;
    animation: cloud-3 99s linear infinite;*/
}

.logout{
	position: relative;
	left: 28px;
	font-size: 14px !important;
  font-weight: 300 !important;
  color: #a2a2a2 !important;
}
.wrap-category-edit{
	padding: 0px 10px 20px 10px;
	a{
		color: white !important;
		font-size: 18px;
    font-weight: 400;
    margin-right: 14px;
		&:hover{
			color: #ced8dc !important;
		}
	}
}

.information-and-statistic-user{
	.element{
		padding: 5px 0px;
		h5{
		 	color: #575a5b;
		 	img{
		 		width: 20px
		 	}
		 	span{
		 		position: relative;
		 		bottom: 4px;
		 		margin-left: 5px;
		 	}
		}
	}
	.status-quest-complete{
		.completed{
			color: rgb(64,199,129);
		}
		.not-completed{
			color: #868889;
		}
	}
}

.description-monster-card{
	position: absolute;
	top: 70px;
	right: 9%;
	width: 220px;
	font-size: 16px;
	text-align: left;
	background-color: rgba(255,255,255,0.1) !important;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.wrap-honor{
	.honor{
		width: 80%;
		padding: 40px;
		img{
			width: 100%;
			border-radius: 4px;
		}
		.golden_section62 {
    	padding: 10px 0px 10px 40px;
    	p{
    		font-size: 18px;
    	}
    	.attention-check{
    	font-size: 14px;
    	}
    }
    .data-honor{
    	margin-top: 15px;
    	padding-top: 20px;
    	border-top: 1px solid #e2e8e9;
    	.wrap-information-about-user{
    		margin-top: 10px;
    		p{
    			font-size: 16px;
			    margin: 1.2em 0 0.4em 0;
			    font-weight: 600;
    		}
    		input[type='text']{
    			text-align: left;
    			width: 60%;
    		}
    	}
    }
	}
}
.wrap-payment-inputs{
	text-align: center;
}
#modal_buy_diploma{
	.modal-title{
		text-align: center;
	}
}