// Place all the styles related to the UserThings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ground{
	position: fixed;
	bottom: 0px;
	height: 66px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.96);
	border-top: 1px solid #e2e8e8;
	z-index: 1000;
	text-align: center;
	padding: 10px 0;
	.img-thing-icon{
		width: 46px;
		height: 46px;
		margin: 0 6px;
		border-radius: 100px;
		transition: all 0.14s ease;
		cursor: pointer;
		&:hover{
			-moz-transform: scale(1.18); /* Для Firefox */
	    -ms-transform: scale(1.18); /* Для IE */
	    -webkit-transform: scale(1.18); /* Для Safari, Chrome, iOS */
	    -o-transform: scale(1.18); /* Для Opera */
	    transform: scale(1.18);
			}
	}
	.active-thing{
		box-shadow: 0 0 0px 2px #f77742;
	}
}

.flashlight{
	position: fixed;
	top: 0px;
	right: 10%;
	width: 40px;
	img{
		position: relative;
		top: -170px;
		cursor: pointer;
		transition: all 0.3s ease;
		&:hover{
			top: -160px;
		}
	}
}